<div *ngIf="this.loading">
    Učitavanje...
</div>
<div *ngIf="!this.loading">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
            <mat-card class="mat-elevation-z1">
                <div class="text-faded">
                    Jednocifreni brojevi
                </div>
                <div style="margin-top: 10px">
                    <button #db1 mat-stroked-button [disabled]="this.spin || this.timeout" (click)="pressed('number', 'dig', 0, db1)">{{this.dig[0]}}</button>
                    <button #db2 mat-stroked-button style="margin-left: 10px" [disabled]="this.spin || this.timeout" (click)="pressed('number', 'dig', 1, db2)">{{this.dig[1]}}</button>
                    <button #db3 mat-stroked-button style="margin-left: 10px" [disabled]="this.spin || this.timeout" (click)="pressed('number', 'dig', 2, db3)">{{this.dig[2]}}</button>
                    <button #db4 mat-stroked-button style="margin-left: 10px" [disabled]="this.spin || this.timeout" (click)="pressed('number', 'dig', 3, db4)">{{this.dig[3]}}</button>
                </div>            
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
            <mat-card class="mat-elevation-z1">
                <div class="text-faded">
                    Dvocifreni i dvocifreni/trocifreni broj
                </div>
                <div style="margin-top: 10px">
                    <button #db5 mat-stroked-button [disabled]="this.spin || this.timeout" (click)="pressed('number', 'oth', 0, db5)">{{this.oth[0]}}</button>
                    <button #db6 mat-stroked-button style="margin-left: 10px" [disabled]="this.spin || this.timeout" (click)="pressed('number', 'oth', 1, db6)">{{this.oth[1]}}</button>           
                </div>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">        
            <mat-card>
                <table>
                    <tr>
                        <td>
                            <div class="text-faded">Traži se broj:</div>
                            <div class="text-strong" style="font-size: 180%; margin-top: 8px;">{{this.wantedNumber}}</div>
                        </td>
                        <td *ngIf="this.canStop" style="padding-left: 20px">
                            <button mat-stroked-button [color]="'red'" [disabled]="!this.spin || this.stopPressed" (click)="stopSpinning()">STOP</button>
                        </td>
                    </tr>
                </table>    
            </mat-card>    
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <mat-card>
                <div class="text-faded">Odaberite računske opracije:</div>
                <div style="margin-top: 10px;">
                    <button mat-stroked-button [color]="'light-blue'" [disabled]="this.spin || this.inProcess || this.timeout" (click)="pressed('sign', '+', 0, null)">+</button>
                    <button mat-stroked-button [color]="'light-blue'" style="margin-left: 10px;" [disabled]="this.spin || this.inProcess || this.timeout" (click)="pressed('sign', '-', 0, null)">-</button>
                    <button mat-stroked-button [color]="'light-blue'" style="margin-left: 10px;" [disabled]="this.spin || this.inProcess || this.timeout" (click)="pressed('sign', '*', 0, null)">*</button>
                    <button mat-stroked-button [color]="'light-blue'" style="margin-left: 10px;" [disabled]="this.spin || this.inProcess || this.timeout" (click)="pressed('sign', '/', 0, null)">/</button>

                    <button mat-stroked-button [color]="'light-blue'" style="margin-left: 30px;" [disabled]="this.spin || this.inProcess || this.timeout" (click)="pressed('sign', '(', 0, null)">(</button>
                    <button mat-stroked-button [color]="'light-blue'" style="margin-left: 10px;" [disabled]="this.spin || this.inProcess || this.timeout" (click)="pressed('sign', ')', 0, null)">)</button>                

                    <div style="margin-top: 20px; display: inline-block; margin-left: 30px;">
                        <button mat-stroked-button [color]="'dark-blue'" (click)="backspace()" [disabled]="this.stack.size() == 0 || this.inProcess || this.timeout"><i class="material-icons">keyboard_backspace</i></button>
                        <button mat-stroked-button [color]="'red'" style="margin-left: 20px;" (click)="escape()" [disabled]="this.inProcess || this.timeout">Poništi izraz</button>                
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <div class="input-hidden-overlay">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Izraz</mat-label>
                            <input #expInput matInput placeholder="Placeholder" [value]="this.exp">                    
                            <mat-hint>Ovde se prikazuje zapisani izraz.</mat-hint>
                        </mat-form-field>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <div class="text-faded">Rezultat:</div>
                    <div style="margin-top: 10px; font-size: 160%;" class="font-weight">
                        {{this.result}}
                    </div>
                </div>            
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-md-12 col-lg-6">
            <div style="margin-top: 20px;">
                <button mat-stroked-button (click)="continue()" [color]="'yellow'" [disabled]="this.inProcess || !this.isReady() || this.timeout">
                    <span *ngIf="!this.inProcess">Dalje</span>
                    <span *ngIf="this.inProcess">Slanje...</span>
                    <i class="material-icons" style="top: 0;" *ngIf="!this.inProcess">navigate_next</i>                    
                </button>
                <mat-spinner *ngIf='this.inProcess' diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; left: 10px;"></mat-spinner>
            </div>
        </div>
    </div>
</div>
