.input-hidden-overlay
{
    position: relative;
    z-index: 10;
}

.input-hidden-overlay .overlay
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}