<div class="container login-placeholder" style="padding-top: 30px;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12 col-sm-12 text-center">
            <h2>Promena lozinke</h2>
            <div class="text-faded text-small" style="margin-top: 5px;">Promenite lozinku na vašem nalogu</div>
            <div class="breaker bg-color-yellow"></div>

            <div *ngIf="!this.isValidFormStatic()" class="error-placeholder text-left" style="margin-top: 20px; margin-bottom: 20px;">
                <mat-card>
                    <h3>Dogodile su se greške!</h3>
                    <ol>
                        <li *ngIf="this.loaded && this.errors[0]">Korisničko ime ne postoji u sistemu.</li>
                        <li *ngIf="this.loaded && this.errors[1]">Stara lozinka nije ispravna za korisnika '{{this.usernameText}}'.</li>
                        <li *ngIf="this.loaded && this.errors[2]">
                                Lozinka mora imati najmanje 8 karaktera, 
                                najviše 12. Minimum velikih slova 1, minimum malih slova 3, 
                                minimalan broj numerika 1, minimalni broj znakova 1.
                                Početni karakter mora biti slovo.
                        </li>
                        <li *ngIf="this.loaded && this.errors[3]">Nove lozinke se ne podudaraju.</li>
                        <li *ngIf="this.loaded && this.errors[4]">Postoje polja koja su prazna.</li>
                        <li *ngIf="this.loaded && this.errors[5]">Korisničko ime mora imati barem dva karaktera.</li>
                    </ol>
                </mat-card>
            </div>

            <mat-card style="margin-top: 20px;">
                <form (submit)="this.attemptSubmit($event)">
                    <mat-form-field class="full-width">
                        <input #username="matInput" matInput [(ngModel)]="usernameText" name="username" placeholder="Korisničko ime" autofocus="autofocus" [disabled]='this.inCheck || this.onSuccess'>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input #oldpassword="matInput" matInput [(ngModel)]="oldPasswordText" name="oldpassword" type="password" placeholder="Stara lozinka" [disabled]='this.inCheck || this.onSuccess'>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input #newpassword="matInput" matInput [(ngModel)]="newPasswordText" name="newpassword" type="password" placeholder="Nova lozinka" [disabled]='this.inCheck || this.onSuccess'>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input #newPasswordVerify="matInput" matInput [(ngModel)]="newPasswordVerifyText" name="newPasswordVerify" type="password" placeholder="Potvrdite novu lozinku" [disabled]='this.inCheck || this.onSuccess'>
                    </mat-form-field>

                    <div class="text-left">
                        <button mat-raised-button type="submit" [color]="'dark-blue'" [disabled]='this.inCheck || this.onSuccess'>
                            <div *ngIf="!this.inCheck || this.onSuccess">Potvrdi promenu</div>
                            <div *ngIf="this.inCheck">Promena lozinke u toku...</div>
                        </button>
                        <mat-spinner *ngIf='this.inCheck' diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; left: 10px;"></mat-spinner>
                    </div>
                </form>
            </mat-card>

            <div *ngIf='this.onSuccess' style="margin-top: 20px;">
                <mat-card class="success-card">
                    <div>Lozinka je promenjena. Preusmeravanje na logovanje za {{this.timer}}s.</div>
                </mat-card>                
            </div>

            <div *ngIf='this.onError' style="margin-top: 20px;">
                <mat-card class="error-card">
                    <div>{{this.errorMessage}}</div>
                </mat-card>                
            </div>

            <div class="text-small" style="margin-top: 20px;">
                Već imaš nalog? <a routerLink="/" routerLinkActive="active">Uloguj se</a>
            </div>    
        </div>
    </div>
</div>
