.supervisor-add-data-card
{
    position: relative;
    z-index: 10;
}

.supervisor-add-data-card .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: rgba(28, 49, 68, 0.178);
}

.supervisor-add-data-card .overlay-content
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 5px;
    margin: auto;
    color: white;
    z-index: 12;
}