<div class="container page-container">    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h3>Dobrodošli, {{ this.getFullName() }}</h3>
            <span class="text-italic text-small text-faded">"Dobro veče." -M.C.</span>

            <supervisor-game-requests></supervisor-game-requests>

            <mat-card class="supervisor-add-data-card" style="margin-top: 20px;">
                <h4>Unos podataka za igre</h4>
                <mat-tab-group style="margin-top: 10px;" (selectedIndexChange)="indexChanged($event)">
                    <mat-tab label="Anagram">

                        <div *ngIf="this.anagramsLoading" style="margin-top: 20px;">Učitavanje liste anagrama...</div>
                        <div style="margin-top: 20px;">
                            <div *ngIf="!this.anagramsLoading" class="full-width">
                                <mat-form-field class="full-width">
                                    <input matInput #anagramsSearch="matInput" (keyup)="applyFilter($event.target.value)" placeholder="Pretraga...">
                                </mat-form-field>
                            </div>
                            
                            <table mat-table [hidden]="this.anagramsLoading" #anagramsTable="matTable" [dataSource]="dataSource" class="full-width">

                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? this.masterToggle() : null"
                                                    [checked]="this.anagramsSelection.hasValue() && this.isAllSelected()"
                                                    [indeterminate]="this.anagramsSelection.hasValue() && !this.isAllSelected()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                    (change)="$event ? this.anagramsSelection.toggle(row) : null"
                                                    [checked]="this.anagramsSelection.isSelected(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>
                            
                                <!-- Position Column -->
                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef> Redni broj. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                </ng-container>
                                
                                <!-- Title Column -->
                                <ng-container matColumnDef="title">
                                    <th mat-header-cell *matHeaderCellDef> Naslov anagrama </th>
                                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                </ng-container>
                                
                                <!-- Result Column -->
                                <ng-container matColumnDef="result">
                                    <th mat-header-cell *matHeaderCellDef> Rešenje anagrama </th>
                                    <td mat-cell *matCellDef="let element"> {{element.result}} </td>
                                </ng-container>                         
                                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

                            <div class="margin-top: 20px;">
                                <button mat-flat-button [color]="'dark-blue'" (click)="addAnagram()">Dodaj anagram</button>
                                <button mat-flat-button [color]="'red'" (click)="removeAnagrams()" style="margin-left: 10px;" [disabled]="this.anagramsSelection.selected.length == 0">Brisanje</button>
                            </div>
                        </div>

                    </mat-tab>

                    <!-- 5x5 game -->
                    <mat-tab label="5 x 5">                        
                        <div style="margin: 20px 0;">         
                            <div>Pregled svih igara 5x5:</div>
                            <div class="text-faded text-small">
                                Ukoliko želite da obrišete više igara - kliknite na njih uz pritisnut CTRL.
                            </div>
                            <div *ngIf="!this.listOf5x5Games.loaded" style="margin-top: 20px;">Učitavanje liste 5x5 igara...</div>
                            <div class="games-placeholder">     
                                <ng-template #gamesPlaceholder></ng-template>
                                <div *ngIf="this.listOf5x5Games.nogames" style="margin-top: 40px">Trenutno nema 5x5 igara.</div>
                            </div> 
                            <div class="games-controlls" style="margin-top: 40px;">
                                <button mat-button [color]="'dark-blue'" (click)="this.listOf5x5Games.add()" [disabled]="this.listOf5x5Games.deleting">Dodaj 5x5 igru</button>                           
                                <button mat-flat-button [color]="'red'" [disabled]="this.listOf5x5Games.selected == 0 || this.listOf5x5Games.deleting" (click)="this.listOf5x5Games.delete()" style="margin-left: 10px;">Brisanje</button>                                
                            </div>                                 
                        </div>
                    </mat-tab>                    
                    <!-- /5x5 game -->

                    <!-- National Geography game -->
                    <mat-tab label="Zanimljiva geografija">                        
                        <nat-geo></nat-geo>
                    </mat-tab>                    
                    <!-- /National Geography game -->

                    <!-- Trophie game -->
                    <mat-tab label="Pehar"> 
                        <div style="margin: 20px 0;">         
                            <div>Odaberite pehar:</div>
                            <div class="text-faded text-small">
                                Svaki pehar ima svoje ime. Molimo odaberite jedan.
                            </div>
                            <div style="margin-top: 20px; font-family: 'Sansation'">
                                <div *ngIf="!this.trophieGame.hasTrophies()">Trenutno nema "Pehar" igara.</div>
                                
                                <div *ngIf="this.trophieGame.hasTrophies()">
                                    <mat-form-field>
                                        <mat-label>Odaberite pehar</mat-label>
                                        <mat-select (selectionChange)="this.trophieGame.select($event)" [(ngModel)]="this.trophieGame.selectValue">
                                            <mat-option [value]="-1">Odaberite pehar</mat-option>
                                            <mat-option *ngFor="let trophie of this.trophieGame.getAllTrophies()" [value]="trophie._id">
                                                {{trophie.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>      
                                
                                <mat-divider></mat-divider>

                                <trophie-edit [start]="this.trophieGame.shouldPreview()" [trophie]="this.trophieGame.getActiveTrophie()"></trophie-edit>                                
                                
                                <div class="games-controlls" style="margin-top: 40px;">
                                    <button mat-button [color]="'dark-blue'" (click)="this.trophieGame.add()" [disabled]="false">Dodaj igru pehar</button>                           
                                    <button mat-flat-button [color]="'red'" [disabled]="!this.trophieGame.shouldPreview()" (click)="this.trophieGame.delete()" style="margin-left: 10px;">Brisanje</button>                                
                                </div>  
                            </div>                               
                        </div>  
                    </mat-tab>
                    <!-- /Trophie game-->

                </mat-tab-group>                
                <div *ngIf="this.mode == 1" class="overlay-content">
                    <mat-progress-bar color="accent" mode="buffer"></mat-progress-bar>
                </div>
                <div *ngIf="this.mode == 1" class="overlay"></div>
            </mat-card>
        </div>
    </div>
</div>
