
.game-5x5-preview-placeholder .game-5x5-preview-table
{
    border: 1px solid rgb(77, 77, 77);
    border-spacing: 0;
}

.game-5x5-preview-placeholder .game-5x5-preview-table tr td
{
    padding: 5px;
    border: 1px solid rgb(77, 77, 77);
    text-align: center;
}