<div class="game-5x5-preview-placeholder">
    <table class="game-5x5-preview-table">
        <tr *ngFor="let word of words; let i = index">
            <td>{{word[0].toUpperCase()}}</td>
            <td>{{word[1].toUpperCase()}}</td>
            <td>{{word[2].toUpperCase()}}</td>
            <td>{{word[3].toUpperCase()}}</td>
            <td>{{word[4].toUpperCase()}}</td>
        </tr>
    </table>
</div>
