<div class="page-container container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div *ngIf="!this.loadedLast20">
                <h4>Učitavanje rezultata za prethodnih 20 dana...</h4>
                <div style="margin-top: 10px;">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
            <div *ngIf="this.loadedLast20">
                <h3>Najbolji igrači u proteklih 20 dana</h3>
                <div class="text-small text-faded">Pogledajte ko je bio najbolji u  prethodnih 20 dana!</div>
                <div *ngIf="dataSource != null && dataSource.length == 0" style="margin-top: 20px;">Tabela je prazna.</div>
                <table mat-table *ngIf="dataSource != null && dataSource.length > 0" [dataSource]="dataSource" class="mat-elevation-z1 full-width" style="margin-top: 20px;">

                    <!-- Rang Column -->
                    <ng-container matColumnDef="rang">
                        <th mat-header-cell *matHeaderCellDef> R.br. </th>
                        <td mat-cell *matCellDef="let element"> {{element.rang}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Takmičar </th>
                        <td mat-cell class="fullname-cell" *matCellDef="let element">
                            <img [src]="'/assets/upload/' + element.image">
                            <span class="text-large">{{element.fullname}}</span>
                        </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Datum partije </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <!-- Points Column -->
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef> Poeni </th>
                        <td mat-cell *matCellDef="let element"> 
                            <span class="text-strong text-larger color-orange">{{element.points}}</span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 40px;">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div *ngIf="!this.loadedMonth">
                <h4>Učitavanje rezultata za mesec dana...</h4>
                <div style="margin-top: 10px;">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
            <div *ngIf="this.loadedMonth">
                <h3>Najbolji igrači počev od prvog u mesecu</h3>
                <div class="text-small text-faded">Pogledajte ko je bio najbolji u ETF kvizkoteki od početka meseca!</div>
                <div *ngIf="dataSourceMonth != null && dataSourceMonth.length == 0" style="margin-top: 20px;">Tabela je prazna.</div>
                <table mat-table *ngIf="dataSourceMonth != null && dataSourceMonth.length > 0" [dataSource]="dataSourceMonth" class="mat-elevation-z1 full-width" style="margin-top: 20px;">

                    <!-- Rang Column -->
                    <ng-container matColumnDef="rang">
                        <th mat-header-cell *matHeaderCellDef> Rang </th>
                        <td mat-cell *matCellDef="let element"> {{element.rang}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Takmičar </th>
                        <td mat-cell class="fullname-cell" *matCellDef="let element">
                            <img [src]="'/assets/upload/' + element.image">
                            <span class="text-large">{{element.fullname}}</span>
                        </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Datum partije </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <!-- Points Column -->
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef> Poeni </th>
                        <td mat-cell *matCellDef="let element"> 
                            <span class="text-strong text-larger color-orange">{{element.points}}</span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>
