<div *ngIf="this.management.isStillLoading()" class="container page-container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <mat-card>
                <table style="margin: auto;">
                    <tr>
                        <td>
                            <mat-spinner diameter="50" strokeWidth="7" color="warn" style="display: inline-block;"></mat-spinner>
                        </td>
                        <td style="padding-left: 30px;">
                            <h3>Učitavanje...</h3>
                        </td>                        
                    </tr>
                </table>
            </mat-card>
        </div>
    </div>
</div>
<div *ngIf="!this.management.isStillLoading()" class="container page-container">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
            <div *ngIf="this.waiting && this.management.isMultiplayer()" class="waiting-placeholder">
                <table style="margin: auto;">
                    <tr>
                        <td>
                            <mat-spinner diameter="50" strokeWidth="7" color="warn" style="display: inline-block;"></mat-spinner>
                        </td>
                        <td style="padding-left: 30px;">
                            <h3>Samo trenutak...</h3>
                        </td>
                        <td style="padding-left: 30px;">
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                            <i *ngIf="!this.management.isLoadedBlue()" class="material-icons text-strong s-22 color-red">clear</i>
                                            <i *ngIf="this.management.isLoadedBlue()" class="material-icons text-strong s-22 color-green">done_all</i>
                                        </td>
                                        <td style="padding-left: 5px;">Uključenje plavog takmičara</td>
                                    </tr>

                                    <tr *ngIf="this.management.isMultiplayer()">
                                        <td>
                                            <i *ngIf="!this.management.isLoadedRed()" class="material-icons text-strong s-22 color-red">clear</i>
                                            <i *ngIf="this.management.isLoadedRed()" class="material-icons text-strong s-22 color-green">done_all</i>
                                        </td>
                                        <td style="padding-left: 5px;">Uključenje crvenog takmičara</td>
                                    </tr>

                                    <tr>
                                        <td>                                            
                                            <i class="material-icons text-strong s-22 color-green">done_all</i>
                                        </td>
                                        <td style="padding-left: 5px;">Uključenje supervizora</td>
                                    </tr>
                                </table>                           
                            </div>
                        </td>
                    </tr>
                </table>        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <div class="text-left text-strong color-blue" style="display: inline-block;">
                <div class="text-uppercase" style="font-weight: normal;">Plavi</div>
                <span style="font-size: 250%">{{this.management.getUser('blue').points}}</span>
            </div>  
            <div *ngIf="this.management.isMultiplayer()" style="display: inline-block; margin-left: 20px; font-size: 150%;">|</div>
            <div *ngIf="this.management.isMultiplayer()" class="text-left text-strong color-red" style="display: inline-block; margin-left: 20px;">
                <div class="text-uppercase" style="font-weight: normal;">Crveni</div>
                <span style="font-size: 250%">{{this.management.getUser('red').points}}</span>
            </div>           
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <div class="text-right text-strong color-yellow">
                <div class="text-uppercase" style="font-weight: normal;">Vreme</div>
                <span style="font-size: 250%">{{this.management.getTimeManager().getMinutes()}}:{{this.management.getTimeManager().getSeconds()}}</span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
            <mat-card class="contestant-placeholder">
                <table>
                    <tr>
                        <td><img class="contestant-image" [src]="'/assets/upload/' + this.management.getUser('blue').image"></td>
                        <td style="padding-left: 20px;">
                            <div class="ticket ticket-blue">plavi takmičar</div>
                            <h2>{{this.management.getUser('blue').name}} {{this.management.getUser('blue').surname}}</h2>
                            <div class="text-faded">{{this.management.getUser('blue').username}}</div>
                            <div class="text-faded">
                                <div *ngIf="!this.management.getUser('blue').loaded">
                                    <i class="material-icons s-14 color-red">clear</i>
                                    <span class="text-small">Offline</span>
                                </div>
                                <div *ngIf="this.management.getUser('blue').loaded">
                                    <i class="material-icons s-14 color-green">fiber_manual_record</i>
                                    <span class="text-small">Online</span>
                                </div>
                            </div>

                            <div style="margin-top: 10px;" class="text-faded">
                                <div>{{this.management.getUser('blue').email}}</div>
                                <div>{{this.management.getUser('blue').profession}}</div>
                            </div>
                        </td>
                    </tr>
                </table> 
                <div class="contestant-points-appear blue-contestant" [class.show]="this.management.getUser('blue').showAddPoints">
                    <div class="contestant-points-appear-overlay"></div>
                    <div class="contestant-points-appear-content">
                        <div class="preview-points">+{{this.management.getUser('blue').additionOfPoints}}</div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div *ngIf="this.management.isMultiplayer()" class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
            <mat-card class="contestant-placeholder not-turn">
                <table>
                    <tr>
                        <td><img class="contestant-image" [src]="'/assets/upload/' + this.management.getUser('red').image"></td>
                        <td style="padding-left: 20px;">
                            <div class="ticket ticket-red">crveni takmičar</div>
                            <h2>{{this.management.getUser('blue').name}} {{this.management.getUser('red').surname}}</h2>
                            <div class="text-faded">{{this.management.getUser('red').username}}</div>
                            <div class="text-faded">
                                <div *ngIf="!this.management.getUser('red').loaded">
                                    <i class="material-icons s-14 color-red">clear</i>
                                    <span class="text-small">Offline</span>
                                </div>
                                <div *ngIf="this.management.getUser('red').loaded">
                                    <i class="material-icons s-14 color-green">fiber_manual_record</i>
                                    <span class="text-small">Online</span>
                                </div>
                            </div>

                            <div style="margin-top: 10px;" class="text-faded">
                                <div>{{this.management.getUser('red').email}}</div>
                                <div>{{this.management.getUser('red').profession}}</div>
                            </div>
                        </td>
                    </tr>
                </table> 
                <div class="contestant-points-appear red-contestant" [class.show]="this.management.getUser('red').showAddPoints">
                    <div class="contestant-points-appear-overlay"></div>
                    <div class="contestant-points-appear-content">
                        <div class="preview-points">+{{this.management.getUser('red').additionOfPoints}}</div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12" [class.offset-lg-4]="!this.management.isMultiplayer()">
            <mat-card class="contestant-placeholder">
                <table>
                    <tr>
                        <td><img class="contestant-image" [src]="'/assets/upload/' + this.management.getSupervisor().image"></td>
                        <td style="padding-left: 20px;">
                            <div class="ticket bg-color-dark-blue color-white">supervizor</div>
                            <h2>{{this.management.getSupervisor().name}} {{this.management.getSupervisor().surname}}</h2>
                            <div class="text-faded">{{this.management.getSupervisor().username}}</div>
                            <div class="text-faded">                                
                                <div>
                                    <i class="material-icons s-14 color-green">fiber_manual_record</i>
                                    <span class="text-small">Online</span>
                                </div>
                            </div>

                            <div style="margin-top: 10px;" class="text-faded">
                                <div>{{this.management.getSupervisor().email}}</div>
                                <div>{{this.management.getSupervisor().profession}}</div>
                            </div>
                        </td>
                    </tr>
                </table> 
            </mat-card>
        </div>
    </div>
    <div *ngIf="this.management.isUserOnTurn('opponent')" class="row" style="margin-top: 20px;">
        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
            sdsd
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
  
            <mat-horizontal-stepper [selectedIndex]="this.management.getCurrentGameIndex()" [linear]="true" #stepper class="mat-elevation-z1">
                <mat-step [stepControl]="firstFormGroup" [editable]="false" [completed]="this.management.getCurrentGameIndex() > 0" [optional]="true">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Anagram</ng-template>
                        <quiz-anagram [stepper]="stepper"></quiz-anagram>                        
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" [editable]="false" [completed]="this.management.getCurrentGameIndex() > 1" [optional]="true">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Moj broj</ng-template>
                        <quiz-number [stepper]="stepper"></quiz-number>
                    </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup" [editable]="false" [completed]="this.management.getCurrentGameIndex() > 2" [optional]="true">
                    <form [formGroup]="thirdFormGroup">
                        <ng-template matStepLabel>5 x 5</ng-template>
                        <quiz-fxf [stepper]="stepper" [formGroup]="thirdFormGroup"></quiz-fxf>                        
                    </form>
                </mat-step>
                <mat-step [stepControl]="fourthFormGroup" [editable]="false" [completed]="this.management.getCurrentGameIndex() > 3" [optional]="true">
                    <form [formGroup]="fourthFormGroup">
                        <ng-template matStepLabel>Zanimljiva geografija</ng-template>
                        <quiz-nat-geo [stepper]="stepper"></quiz-nat-geo>                       
                    </form>
                </mat-step>
                <mat-step [stepControl]="fifthFormGroup" [editable]="false" [completed]="this.management.getCurrentGameIndex() > 4" [optional]="true">
                    <form [formGroup]="fifthFormGroup">
                        <ng-template matStepLabel>Pehar</ng-template>
                        <quiz-trophie [stepper]="stepper"></quiz-trophie>                      
                    </form>
                </mat-step>
                <mat-step [editable]="false" [completed]="false">
                    <ng-template matStepLabel>Rezultati</ng-template>
                    <h2>Igra je završena!</h2>
                    <div *ngIf="!this.loadingPoints" style="margin-top: 20px;">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <div class="text-strong text-larger">{{this.management.getUser("blue").name}} {{this.management.getUser("blue").surname}}</div>
                                    <div class="ticket ticket-blue">plavi takmičar</div>
                                </td>                                
                            </tr>
                            <tr>
                                <td width="200" style="padding-top: 20px">Anagram:</td>
                                <td style="padding-top: 20px">
                                    <div class="text-strong text-larger color-dark-blue">{{this.pAnagram}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Moj broj:</td>
                                <td><div class="text-strong text-larger color-dark-blue">{{this.pNumber}}</div></td>
                            </tr>
                            <tr>
                                <td>5 x 5:</td>
                                <td><div class="text-strong text-larger color-dark-blue">{{this.pFxF}}</div></td>
                            </tr>
                            <tr>
                                <td>Zanimljiva geografija:</td>
                                <td><div class="text-strong text-larger color-dark-blue">{{this.pNatGeo}}</div></td>
                            </tr>
                            <tr>
                                <td>Pehar:</td>
                                <td><div class="text-strong text-larger">{{this.pTrophie}}</div></td>
                            </tr>

                            <tr>
                                <td style="padding-top: 20px">UKUPNO:</td>
                                <td style="padding-top: 20px"><div class="text-strong text-larger">{{this.calculateTotalPoints()}}</div></td>
                            </tr>
                        </table>
                        <div style="margin-top: 20px">
                            <button mat-stroked-button (click)="finish()" [disabled]="this.terminating" [color]="'dark-blue'">Nazad na početnu</button>
                            <mat-spinner diameter="30" *ngIf="this.terminating" strokeWidth="5" color="warn" style="display: inline-block; position: relative; left: 10px; top: 10px;"></mat-spinner>
                        </div>
                    </div>
                    <div *ngIf="this.loadingPoints" style="margin-top: 20px;">
                        Učitavanje...
                    </div>
                </mat-step>
            </mat-horizontal-stepper>   
     
        </div>
    </div>
</div>
