.contestant-placeholder 
{
    position: relative;
    overflow: hidden;
}

.contestant-placeholder .contestant-image
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(158, 158, 158);
}

.contestant-placeholder.not-turn
{
    opacity: 0.3;
    pointer-events: none;
}

.contestant-placeholder .form-field
{
    width: 40%;
}

.contestant-placeholder .contestant-points-appear
{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.contestant-placeholder .contestant-points-appear.show
{
    z-index: 9;
}

.contestant-placeholder .contestant-points-appear .contestant-points-appear-content
{
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    font-size: 400%;
    z-index: -1;

    top: 50%; 
    transform: translateY(-50%);
    text-align: center;
}

.contestant-placeholder .contestant-points-appear.show .contestant-points-appear-content
{
    z-index: 10;
}

.contestant-placeholder .contestant-points-appear .contestant-points-appear-content .preview-points
{
    transform: scale3d(0, 0, 0);
    opacity: 0;
    transition: 1.3s;
    transition-delay: 0.4s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.contestant-placeholder .contestant-points-appear.show .contestant-points-appear-content .preview-points
{
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.contestant-placeholder .contestant-points-appear .contestant-points-appear-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
}

.contestant-placeholder .contestant-points-appear.blue-contestant .contestant-points-appear-overlay
{
    background: rgba(63, 136, 204, 0.856);
}

.contestant-placeholder .contestant-points-appear.red-contestant .contestant-points-appear-overlay
{
    background: rgba(215, 25, 34, 0.856);
}

.contestant-placeholder .contestant-points-appear.show .contestant-points-appear-overlay
{
    z-index: 9;
    opacity: 1;
}