<h1 mat-dialog-title>Dodavanje 5x5 igre</h1>
<div mat-dialog-content>
    <p>Unesite reci, jednu ispod druge.</p>

    <mat-form-field class="full-width">
        <input matInput #w1="matInput" placeholder="Prva rec" (keyup)="update(this)" maxlength="5" [disabled]="this.loading">
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput #w2="matInput" placeholder="Druga rec" (keyup)="update(this)" maxlength="5" [disabled]="this.loading">
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput #w3="matInput" placeholder="Treca rec" (keyup)="update(this)" maxlength="5" [disabled]="this.loading">
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput #w4="matInput" placeholder="Cetvrta rec" (keyup)="update(this)" maxlength="5" [disabled]="this.loading">
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput #w5="matInput" placeholder="Peta rec" (keyup)="update()" maxlength="5" [disabled]="this.loading">
    </mat-form-field>

    <div class="preview" style="margin-top: 30px;">
        <h4>Pregled 5x5 igre</h4>
        <div class="margin-top: 20px;">
            <div class="game-5x5-placeholder">
                <table id="tablePreview" class="game-5x5-table">
                    <tr>
                        <td><span [style.opacity]="this.w1.value[0] ? 1 : 0">{{this.w1.value[0] ? this.w1.value[0].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w1.value[1] ? 1 : 0">{{this.w1.value[1] ? this.w1.value[1].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w1.value[2] ? 1 : 0">{{this.w1.value[2] ? this.w1.value[2].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w1.value[3] ? 1 : 0">{{this.w1.value[3] ? this.w1.value[3].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w1.value[4] ? 1 : 0">{{this.w1.value[4] ? this.w1.value[4].toUpperCase() : "A"}}</span></td>                        
                    </tr>

                    <tr>
                        <td><span [style.opacity]="this.w2.value[0] ? 1 : 0">{{this.w2.value[0] ? this.w2.value[0].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w2.value[1] ? 1 : 0">{{this.w2.value[1] ? this.w2.value[1].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w2.value[2] ? 1 : 0">{{this.w2.value[2] ? this.w2.value[2].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w2.value[3] ? 1 : 0">{{this.w2.value[3] ? this.w2.value[3].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w2.value[4] ? 1 : 0">{{this.w2.value[4] ? this.w2.value[4].toUpperCase() : "A"}}</span></td>                        
                    </tr>

                    <tr>
                        <td><span [style.opacity]="this.w3.value[0] ? 1 : 0">{{this.w3.value[0] ? this.w3.value[0].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w3.value[1] ? 1 : 0">{{this.w3.value[1] ? this.w3.value[1].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w3.value[2] ? 1 : 0">{{this.w3.value[2] ? this.w3.value[2].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w3.value[3] ? 1 : 0">{{this.w3.value[3] ? this.w3.value[3].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w3.value[4] ? 1 : 0">{{this.w3.value[4] ? this.w3.value[4].toUpperCase() : "A"}}</span></td>                        
                    </tr>

                    <tr>
                        <td><span [style.opacity]="this.w4.value[0] ? 1 : 0">{{this.w4.value[0] ? this.w4.value[0].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w4.value[1] ? 1 : 0">{{this.w4.value[1] ? this.w4.value[1].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w4.value[2] ? 1 : 0">{{this.w4.value[2] ? this.w4.value[2].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w4.value[3] ? 1 : 0">{{this.w4.value[3] ? this.w4.value[3].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w4.value[4] ? 1 : 0">{{this.w4.value[4] ? this.w4.value[4].toUpperCase() : "A"}}</span></td>                        
                    </tr>

                    <tr>
                        <td><span [style.opacity]="this.w5.value[0] ? 1 : 0">{{this.w5.value[0] ? this.w5.value[0].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w5.value[1] ? 1 : 0">{{this.w5.value[1] ? this.w5.value[1].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w5.value[2] ? 1 : 0">{{this.w5.value[2] ? this.w5.value[2].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w5.value[3] ? 1 : 0">{{this.w5.value[3] ? this.w5.value[3].toUpperCase() : "A"}}</span></td>
                        <td><span [style.opacity]="this.w5.value[4] ? 1 : 0">{{this.w5.value[4] ? this.w5.value[4].toUpperCase() : "A"}}</span></td>                        
                    </tr>
                </table>
                
                <mat-card *ngIf="this.notif != null" class="{{this.notif.class}} mat-card" style="margin-top: 20px">
                    {{this.notif.message}}
                </mat-card>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions style="margin-top: 20px;">  

  <button mat-raised-button [color]="'yellow'" (click)="add()" [disabled]="this.loading">
      <span *ngIf="!this.loading">Dodaj 5x5 igru</span>
      <span *ngIf="this.loading">Dodavanje igre...</span>
  </button>
  <button mat-raised-button (click)="close()" [disabled]="this.loading">Odustani</button>
</div>