.game-5x5-placeholder
{
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 9;
    border-radius: 3px;
    display: inline-block;
    opacity: 1;
    transition: 0.2s;
}

.game-5x5-placeholder.is-selected
{
    background: rgba(47, 47, 47, 0.424);
    color: white;
    opacity: 1;
}

.game-5x5-placeholder .game-5x5-table
{
    margin-top: 20px;
    border: 1px solid rgb(77, 77, 77);
    border-spacing: 0;
}

.game-5x5-placeholder .game-5x5-table tr td
{
    padding: 5px;
    border: 1px solid rgb(77, 77, 77);
    text-align: center;
}