.input-field
{
    position: relative;
    overflow: hidden;
}

.input-field .result-placeholder
{
    position: absolute;
    z-index: 10;
    height: 10px;
    right: 0;
    top: 8px;
    bottom: 0;
    transform: translateY(-25%) translateX(50px);
    opacity: 0;
    transition: 0.8s;
    transition-delay: 0.7s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.input-field .result-placeholder.show-result-placeholder
{
    opacity: 1;
    transform: translateX(0);
}

.input-field .result-placeholder i
{
    top: -3px;
}

.input-field .result-placeholder .result-supervisor-image
{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 50%;
    margin-left: 10px;
}