<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div>
            <div class="text-faded">Slovo:</div>
            <mat-card class="mat-elevation-z1" style="display: inline-block; margin-top: 10px;">
                <div class="color-red text-strong text-larger">{{this.letter}}</div>
            </mat-card>
        </div>
        <div class="text-faded" style="margin-top: 20px;">Unesite pojmove koje znate:</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
        <div style="margin-top: 20px;">
            <mat-form-field appearance="outline" class="full-width input-field">
                <mat-label>Grad</mat-label>
                <input #city matInput placeholder="Grad na {{this.letter}}..." [disabled]="this.loading" (focusout)="saveInputValue('city',0)" (focus)="declineSaveInput('city',0)">                
                <mat-hint>Unesite grad koji počinje slovom {{this.letter}}.</mat-hint>
                <div class="result-placeholder" [class.show-result-placeholder]="this.finished[0]">
                    <div *ngIf="this.getField('city').answered">
                        <i *ngIf="this.getField('city').approved" class="material-icons s-24 color-green">done</i>
                        <i *ngIf="!this.getField('city').approved" class="material-icons s-24 color-red">close</i>
                        <img *ngIf="this.getField('city').bySupervisor" class="result-supervisor-image" [src]="'/assets/upload/' + this.management.getSupervisor().image">
                    </div>
                    <div *ngIf="!this.getField('city').answered">
                        <i class="material-icons s-24 color-red" style="top: 4px;">close</i>
                    </div>
                </div>
            </mat-form-field>
        </div>
        
        <div style="margin-top: 20px;">
            <mat-form-field appearance="outline" class="full-width input-field">
                <mat-label>Država</mat-label>
                <input #state matInput placeholder="Država na {{this.letter}}..." [disabled]="this.loading" (focusout)="saveInputValue('state',1)" (focus)="declineSaveInput('state',1)">                
                <mat-hint>Unesite državu koja počinje slovom {{this.letter}}.</mat-hint>
                <div class="result-placeholder" [class.show-result-placeholder]="this.finished[1]">
                    <div *ngIf="this.getField('state').answered">
                        <i *ngIf="this.getField('state').approved" class="material-icons s-24 color-green">done</i>
                        <i *ngIf="!this.getField('state').approved" class="material-icons s-24 color-red">close</i>
                        <img *ngIf="this.getField('state').bySupervisor" class="result-supervisor-image" [src]="'/assets/upload/' + this.management.getSupervisor().image">
                    </div>
                    <div *ngIf="!this.getField('state').answered">
                        <i class="material-icons s-24 color-red" style="top: 4px;">close</i>
                    </div>
                </div>
            </mat-form-field>
        </div>

        <div style="margin-top: 20px;">
            <mat-form-field appearance="outline" class="full-width input-field">
                <mat-label>Reka</mat-label>
                <input #river matInput placeholder="Reka na {{this.letter}}..." [disabled]="this.loading" (focusout)="saveInputValue('river',2)" (focus)="declineSaveInput('river',2)">                
                <mat-hint>Unesite reku koja počinje slovom {{this.letter}}.</mat-hint>
                <div class="result-placeholder" [class.show-result-placeholder]="this.finished[2]">
                    <div *ngIf="this.getField('river').answered">
                        <i *ngIf="this.getField('river').approved" class="material-icons s-24 color-green">done</i>
                        <i *ngIf="!this.getField('river').approved" class="material-icons s-24 color-red">close</i>
                        <img *ngIf="this.getField('river').bySupervisor" class="result-supervisor-image" [src]="'/assets/upload/' + this.management.getSupervisor().image">
                    </div>
                    <div *ngIf="!this.getField('river').answered">
                        <i class="material-icons s-24 color-red" style="top: 4px;">close</i>
                    </div>
                </div>
            </mat-form-field>
        </div>

        <div style="margin-top: 20px;">
            <mat-form-field appearance="outline" class="full-width input-field">
                <mat-label>Planina</mat-label>
                <input #mountain matInput placeholder="Planina na {{this.letter}}..." [disabled]="this.loading" (focusout)="saveInputValue('mountain',3)" (focus)="declineSaveInput('mountain',3)">                
                <mat-hint>Unesite planinu koja počinje slovom {{this.letter}}.</mat-hint>
                <div class="result-placeholder" [class.show-result-placeholder]="this.finished[3]">
                    <div *ngIf="this.getField('mountain').answered">
                        <i *ngIf="this.getField('mountain').approved" class="material-icons s-24 color-green">done</i>
                        <i *ngIf="!this.getField('mountain').approved" class="material-icons s-24 color-red">close</i>
                        <img *ngIf="this.getField('mountain').bySupervisor" class="result-supervisor-image" [src]="'/assets/upload/' + this.management.getSupervisor().image">
                    </div>
                    <div *ngIf="!this.getField('mountain').answered">
                        <i class="material-icons s-24 color-red" style="top: 4px;">close</i>
                    </div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
        <div style="margin-top: 20px;">
            <mat-form-field appearance="outline" class="full-width input-field">
                <mat-label>Jezero</mat-label>
                <input #lake matInput placeholder="Jezero na {{this.letter}}..." [disabled]="this.loading" (focusout)="saveInputValue('lake',4)" (focus)="declineSaveInput('lake',4)">                
                <mat-hint>Unesite jezero koje počinje slovom {{this.letter}}.</mat-hint>
                <div class="result-placeholder" [class.show-result-placeholder]="this.finished[4]">
                    <div *ngIf="this.getField('lake').answered">
                        <i *ngIf="this.getField('lake').approved" class="material-icons s-24 color-green">done</i>
                        <i *ngIf="!this.getField('lake').approved" class="material-icons s-24 color-red">close</i>
                        <img *ngIf="this.getField('lake').bySupervisor" class="result-supervisor-image" [src]="'/assets/upload/' + this.management.getSupervisor().image">
                    </div>
                    <div *ngIf="!this.getField('lake').answered">
                        <i class="material-icons s-24 color-red" style="top: 4px;">close</i>
                    </div>
                </div>
            </mat-form-field>
        </div>

        <div style="margin-top: 20px;">
            <mat-form-field appearance="outline" class="full-width input-field">
                <mat-label>Životinja</mat-label>
                <input #animal matInput placeholder="Životinja na {{this.letter}}..." [disabled]="this.loading" (focusout)="saveInputValue('animal',5)" (focus)="declineSaveInput('animal',5)">                
                <mat-hint>Unesite životinju koja počinje slovom {{this.letter}}.</mat-hint>
                <div class="result-placeholder" [class.show-result-placeholder]="this.finished[5]">
                    <div *ngIf="this.getField('animal').answered">
                        <i *ngIf="this.getField('animal').approved" class="material-icons s-24 color-green">done</i>
                        <i *ngIf="!this.getField('animal').approved" class="material-icons s-24 color-red">close</i>
                        <img *ngIf="this.getField('animal').bySupervisor" class="result-supervisor-image" [src]="'/assets/upload/' + this.management.getSupervisor().image">
                    </div>
                    <div *ngIf="!this.getField('animal').answered">
                        <i class="material-icons s-24 color-red" style="top: 4px;">close</i>
                    </div>
                </div>
            </mat-form-field>
        </div>

        <div style="margin-top: 20px;">
            <mat-form-field appearance="outline" class="full-width input-field">
                <mat-label>Biljka</mat-label>
                <input #plant matInput placeholder="Biljka na {{this.letter}}..." [disabled]="this.loading" (focusout)="saveInputValue('plant',6)" (focus)="declineSaveInput('plant',6)">                
                <mat-hint>Unesite biljku koja počinje slovom {{this.letter}}.</mat-hint>
                <div class="result-placeholder" [class.show-result-placeholder]="this.finished[6]">
                    <div *ngIf="this.getField('plant').answered">
                        <i *ngIf="this.getField('plant').approved" class="material-icons s-24 color-green">done</i>
                        <i *ngIf="!this.getField('plant').approved" class="material-icons s-24 color-red">close</i>
                        <img *ngIf="this.getField('plant').bySupervisor" class="result-supervisor-image" [src]="'/assets/upload/' + this.management.getSupervisor().image">
                    </div>
                    <div *ngIf="!this.getField('plant').answered">
                        <i class="material-icons s-24 color-red" style="top: 4px;">close</i>
                    </div>
                </div>
            </mat-form-field>
        </div>

        <div style="margin-top: 20px;">
            <mat-form-field appearance="outline" class="full-width input-field">
                <mat-label>Muzička grupa</mat-label>
                <input #band matInput placeholder="Muzička grupa na {{this.letter}}..." [disabled]="this.loading" (focusout)="saveInputValue('band',7)" (focus)="declineSaveInput('band',7)">                
                <mat-hint>Unesite muzičku grupu koja počinje slovom {{this.letter}}.</mat-hint>
                <div class="result-placeholder" [class.show-result-placeholder]="this.finished[7]">
                    <div *ngIf="this.getField('band').answered">
                        <i *ngIf="this.getField('band').approved" class="material-icons s-24 color-green">done</i>
                        <i *ngIf="!this.getField('band').approved" class="material-icons s-24 color-red">close</i>
                        <img *ngIf="this.getField('band').bySupervisor" class="result-supervisor-image" [src]="'/assets/upload/' + this.management.getSupervisor().image">
                    </div>
                    <div *ngIf="!this.getField('band').answered">
                        <i class="material-icons s-24 color-red" style="top: 4px;">close</i>
                    </div>
                </div>
            </mat-form-field>
        </div>
    </div>
</div>
<div *ngIf="this.status > 0" class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">        
        <div style="display: inline-block"><mat-spinner diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px;"></mat-spinner></div>
        <div *ngIf="this.status == 1" style="display: inline-block; margin-left: 10px;">Provera pojmova...</div>        
        <div *ngIf="this.status == 2" style="display: inline-block; margin-left: 10px;">Pojmove proverava supervizor...</div>        
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 col-md-12 col-lg-6">
        <div style="margin-top: 20px;">
            <button type="submit" mat-stroked-button (click)="continue()" [color]="'yellow'" [disabled]="this.inProcess || this.loading && !this.finished">
                <span *ngIf="!this.inProcess && !this.finished">Dalje</span>
                <span *ngIf="this.inProcess">Molimo sačekajte...</span>
                <span *ngIf="!this.inProcess && this.finished">Nastavite</span>
                <i class="material-icons" style="top: 0;" *ngIf="!this.inProcess">navigate_next</i>                    
            </button>        
        </div>
    </div>
</div>
