<div class="container-fluid" *ngIf="!this.loading && this.shouldPreview" style="margin-top: 20px;">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
            <h4>Pehar "{{this.trophie.name}}"</h4>
            <div class="text-faded">Pitanja i odgovori:</div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">I )</span>
                <span class="color-dark-blue">{{this.q[0]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[0]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">II )</span>
                <span class="color-dark-blue">{{this.q[1]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[1]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">III )</span>
                <span class="color-dark-blue">{{this.q[2]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[2]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">IV )</span>
                <span class="color-dark-blue">{{this.q[3]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[3]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">V )</span>
                <span class="color-dark-blue">{{this.q[4]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[4]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">VI )</span>
                <span class="color-dark-blue">{{this.q[5]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[5]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">VII )</span>
                <span class="color-dark-blue">{{this.q[6]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[6]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">VIII )</span>
                <span class="color-dark-blue">{{this.q[7]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[7]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">IX )</span>
                <span class="color-dark-blue">{{this.q[8]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[8]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">X )</span>
                <span class="color-dark-blue">{{this.q[9]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[9]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">XI )</span>
                <span class="color-dark-blue">{{this.q[10]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[10]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">XII )</span>
                <span class="color-dark-blue">{{this.q[11]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[11]}}</div>
            </div>

            <div class="trophie-qa-section">
                <span class="text-strong" style="padding-right: 10px;">XIII )</span>
                <span class="color-dark-blue">{{this.q[12]}}</span>
                <div class="trophie-qa-section-answer color-light-blue">- {{this.a[12]}}</div>
            </div>

        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="trophie-placeholder">
                <div class="content">
                    <table class="trophie-table">
                        <tr>
                            <td>{{this.a[0][0].toUpperCase()}}</td>
                            <td>{{this.a[0][1].toUpperCase()}}</td>
                            <td>{{this.a[0][2].toUpperCase()}}</td>
                            <td>{{this.a[0][3].toUpperCase()}}</td>
                            <td>{{this.a[0][4].toUpperCase()}}</td>
                            <td>{{this.a[0][5].toUpperCase()}}</td>
                            <td>{{this.a[0][6].toUpperCase()}}</td>
                            <td>{{this.a[0][7].toUpperCase()}}</td>
                            <td>{{this.a[0][8].toUpperCase()}}</td>                            
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>
                            <td>{{this.a[1][0].toUpperCase()}}</td>
                            <td>{{this.a[1][1].toUpperCase()}}</td>
                            <td>{{this.a[1][2].toUpperCase()}}</td>
                            <td>{{this.a[1][3].toUpperCase()}}</td>
                            <td>{{this.a[1][4].toUpperCase()}}</td>
                            <td>{{this.a[1][5].toUpperCase()}}</td>
                            <td>{{this.a[1][6].toUpperCase()}}</td>
                            <td>{{this.a[1][7].toUpperCase()}}</td>                                                        
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>
                            <td>{{this.a[2][0].toUpperCase()}}</td>
                            <td>{{this.a[2][1].toUpperCase()}}</td>
                            <td>{{this.a[2][2].toUpperCase()}}</td>
                            <td>{{this.a[2][3].toUpperCase()}}</td>
                            <td>{{this.a[2][4].toUpperCase()}}</td>
                            <td>{{this.a[2][5].toUpperCase()}}</td>
                            <td>{{this.a[2][6].toUpperCase()}}</td>                                                        
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>
                            <td>{{this.a[3][0].toUpperCase()}}</td>
                            <td>{{this.a[3][1].toUpperCase()}}</td>
                            <td>{{this.a[3][2].toUpperCase()}}</td>
                            <td>{{this.a[3][3].toUpperCase()}}</td>
                            <td>{{this.a[3][4].toUpperCase()}}</td>
                            <td>{{this.a[3][5].toUpperCase()}}</td>                                                        
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>
                            <td>{{this.a[4][0].toUpperCase()}}</td>
                            <td>{{this.a[4][1].toUpperCase()}}</td>
                            <td>{{this.a[4][2].toUpperCase()}}</td>
                            <td>{{this.a[4][3].toUpperCase()}}</td>
                            <td>{{this.a[4][4].toUpperCase()}}</td>                                                       
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>                                                                                                                                                                   
                            <td>{{this.a[5][0].toUpperCase()}}</td>
                            <td>{{this.a[5][1].toUpperCase()}}</td>
                            <td>{{this.a[5][2].toUpperCase()}}</td>
                            <td>{{this.a[5][3].toUpperCase()}}</td>                                                       
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>                                                                                    
                            <td>{{this.a[6][0].toUpperCase()}}</td>
                            <td>{{this.a[6][1].toUpperCase()}}</td>
                            <td>{{this.a[6][2].toUpperCase()}}</td>                                                        
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>                                                                                                                                                                   
                            <td>{{this.a[7][0].toUpperCase()}}</td>
                            <td>{{this.a[7][1].toUpperCase()}}</td>
                            <td>{{this.a[7][2].toUpperCase()}}</td>
                            <td>{{this.a[7][3].toUpperCase()}}</td>                                                        
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>                                                                                                                                                                   
                            <td>{{this.a[8][0].toUpperCase()}}</td>
                            <td>{{this.a[8][1].toUpperCase()}}</td>
                            <td>{{this.a[8][2].toUpperCase()}}</td>
                            <td>{{this.a[8][3].toUpperCase()}}</td>
                            <td>{{this.a[8][4].toUpperCase()}}</td>                                                        
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>                                                                                                                                                                   
                            <td>{{this.a[9][0].toUpperCase()}}</td>
                            <td>{{this.a[9][1].toUpperCase()}}</td>
                            <td>{{this.a[9][2].toUpperCase()}}</td>
                            <td>{{this.a[9][3].toUpperCase()}}</td>
                            <td>{{this.a[9][4].toUpperCase()}}</td>                                                        
                            <td>{{this.a[9][5].toUpperCase()}}</td>
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>                                                                                                                                                                   
                            <td>{{this.a[10][0].toUpperCase()}}</td>
                            <td>{{this.a[10][1].toUpperCase()}}</td>
                            <td>{{this.a[10][2].toUpperCase()}}</td>
                            <td>{{this.a[10][3].toUpperCase()}}</td>
                            <td>{{this.a[10][4].toUpperCase()}}</td>                                                        
                            <td>{{this.a[10][5].toUpperCase()}}</td>                                                        
                            <td>{{this.a[10][6].toUpperCase()}}</td>
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>                                                                                                                                                                   
                            <td>{{this.a[11][0].toUpperCase()}}</td>
                            <td>{{this.a[11][1].toUpperCase()}}</td>
                            <td>{{this.a[11][2].toUpperCase()}}</td>
                            <td>{{this.a[11][3].toUpperCase()}}</td>
                            <td>{{this.a[11][4].toUpperCase()}}</td>                                                        
                            <td>{{this.a[11][5].toUpperCase()}}</td>                                                        
                            <td>{{this.a[11][6].toUpperCase()}}</td>                                                      
                            <td>{{this.a[11][7].toUpperCase()}}</td>
                        </tr>
                    </table>
                    <table class="trophie-table">
                        <tr>                                                                                                                                                                   
                            <td>{{this.a[12][0].toUpperCase()}}</td>
                            <td>{{this.a[12][1].toUpperCase()}}</td>
                            <td>{{this.a[12][2].toUpperCase()}}</td>
                            <td>{{this.a[12][3].toUpperCase()}}</td>
                            <td>{{this.a[12][4].toUpperCase()}}</td>                                                        
                            <td>{{this.a[12][5].toUpperCase()}}</td>                                                        
                            <td>{{this.a[12][6].toUpperCase()}}</td>                                                      
                            <td>{{this.a[12][7].toUpperCase()}}</td>                                                       
                            <td>{{this.a[12][8].toUpperCase()}}</td>     
                        </tr>
                    </table>
                </div>
                <div class="image">
                    <img src="/assets/images/trophie.png" />
                </div>
            </div>
        </div>
    </div>
</div>