<div class="text-right button-container" style="position: relative; top: 15px;">
    <div class="button-wrapper">
        <img class="profile-picture" [src]="this.globals.getUser().getData().image">
        {{this.globals.getUser().getData().name}} {{this.globals.getUser().getData().surname}} 
        <div *ngIf="this.loaded" class="text-smaller">
            <div *ngIf="this.accType == 2">
                Administrator
            </div> 
            <div *ngIf="this.accType == 1">
                Supervizor
            </div> 
            <div *ngIf="this.accType == 0">
                Takmičar
            </div>
        </div>        
    </div>
    <a routerLink='/logout'>
        <div class="button-wrapper button-logout">
            <button mat-button [color]="'gray'">Odjavi se</button>
        </div>
    </a>
</div>
