.profile-picture
{
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    top: -3px;
    left: -10px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.3);
}

.button-logout
{
    position: relative;
    top: -7px;
}