.input-placeholder
{
    position: relative;
    z-index: 9;
}

.input-placeholder .overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    z-index: -1;
    background: rgb(235, 235, 235, 0.3);
    opacity: 0;
}

.input-placeholder.offline .overlay
{
    z-index: 10;
    opacity: 1;
}