<div>
    <h4>Kreiranje & izmena igre dana</h4>
    <div class="text-small text-faded">Odaberite datum igre dana i izvšite izmenu, ili pak dodajte novu igru dana.</div>
    <div style="padding: 20px 0;">
        <mat-form-field style="width: 200px">
            <mat-label>Odaberite datum</mat-label>
            <mat-select #compAllGames="matSelect" [disabled]="this.action != null || this.occupiedDates.length == 0" (selectionChange)="changeDate($event)">
                <mat-option [value]="'-1'">Odaberite datum</mat-option>
                <mat-option *ngFor="let obj of this.occupiedDates" [value]="obj._id">
                    {{obj.date.getDate()}}.{{obj.date.getMonth()+1}}.{{obj.date.getFullYear()}}
                </mat-option>
            </mat-select>
            <mat-hint>Izaberite datum igre dana.</mat-hint>            
        </mat-form-field>
        <span style="padding-left: 10px;" class="color-gray text-small" *ngIf="this.occupiedDates.length == 0">Trenutno nema ubačenih igara dana.</span>
    </div>

    <mat-divider></mat-divider>

    <div class="input-placeholder" [class.offline]="!this.action">

        <div>
            <mat-form-field style="width: 200px; margin-top: 20px">
                <input matInput #date="matInput" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Datum igre dana" disabled="disabled">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [disabled]="!this.action || this.action != 'new'"></mat-datepicker>
            </mat-form-field>

            <mat-divider></mat-divider>

            <div style="padding: 20px 0;">
                <mat-form-field style="width: 200px">
                    <mat-label>Odaberite anagram</mat-label>
                    <mat-select #compGameAnagram="matSelect" [disabled]="!this.action" (selectionChange)="selectionChange($event, 1)">
                        <mat-option [value]="'-1'">Odaberite anagram</mat-option>
                        <mat-option *ngFor="let game of this.gameAnagrams" [value]="game._id">
                            {{game.title}} => {{game.result}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Izaberite anagram za igru dana.</mat-hint>            
                </mat-form-field>   
                
                <div style="margin-top: 20px;" class="color-gray text-strong text-small" *ngIf="!this.selectedAnagram">Trenutno nema prikaza anagrama.</div>
                <div *ngIf="this.selectedAnagram" style="margin-top: 20px;">                   
                    <span class="text-strong">{{this.getTitleForAnagram(this.selectedAnagram)}}</span>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div style="margin: 20px 0;">
                <mat-form-field style="width: 200px">
                    <mat-label>Odaberite igru 5x5</mat-label>
                    <mat-select #compGame5x5="matSelect" [disabled]="!this.action" (selectionChange)="selectionChange($event, 2)">
                        <mat-option [value]="'-1'">Odaberite igru 5x5</mat-option>
                        <mat-option *ngFor="let game of this.game5x5; let i = index" [value]="game._id">
                            Igra {{i+1}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Izaberite igru 5x5 za igru dana.</mat-hint>            
                </mat-form-field>
                
                <div style="margin-top: 20px;" class="color-gray text-strong text-small" *ngIf="!this.selected5x5">Trenutno nema prikaza igre 5x5.</div>
                <div *ngIf="this.selected5x5" style="margin-top: 20px;">
                    <game-fxf-table [words]="this.selected5x5Words"></game-fxf-table>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div style="padding: 20px 0;">
                <mat-form-field style="width: 200px">
                    <mat-label>Odaberite igru pehar</mat-label>
                    <mat-select #compGameTrophie="matSelect" [disabled]="!this.action" (selectionChange)="selectionChange($event, 3)">
                        <mat-option [value]="'-1'">Odaberite igru pehar</mat-option>
                        <mat-option *ngFor="let game of this.gameTrophies" [value]="game._id">
                            {{game.name}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Izaberite pehar za igru dana.</mat-hint>            
                </mat-form-field>
                <trophie-edit [trophie]="this.trophie" [start]="this.action == 'edit'"></trophie-edit>
                <div style="margin-top: 20px;" class="color-gray text-strong text-small" *ngIf="!this.selectedTrophie">Trenutno nema prikaza igre pehar.</div>
                <div *ngIf="this.selectedTrophie">
                    <trophie-edit [start]="this.selectedTrophie != null" [trophie]="this.selectedTrophie"></trophie-edit>
                </div>              
            </div>
        </div>
        <div class="overlay"></div>
    </div>

    <mat-divider></mat-divider>

    <div [style.padding]="this.irregular ? '20px 0' : '20px 0 0 0'">
        <div *ngIf="!this.action">
            <button mat-flat-button [color]="'dark-blue'" [disabled]="this.selected || this.irregular" (click)="btn(1)">Kreiraj novu igru dana</button>
            <button mat-flat-button [color]="'yellow'" [disabled]="!this.selected || this.irregular"  style="margin-left: 10px;" (click)="btn(2)">Izmeni igru dana</button>
            <button mat-flat-button [color]="'red'" style="margin-left: 10px;" [disabled]="!this.selected || this.irregular" (click)="btn(3)">Obriši igru dana</button>
        </div>
        <div *ngIf="this.action">
            <button mat-stroked-button [color]="'yellow'" (click)="btn(4)" [disabled]="this.isLoading">
                <span *ngIf="this.action == 'new'">Potvrdi unos</span>                
                <span *ngIf="this.action == 'change'">Potvrdi izmenu</span>                
            </button>
            <button mat-stroked-button style="margin-left: 10px;" (click)="btn(5)" [disabled]="this.isLoading">Odustani</button>            
        </div>
    </div>

    <div *ngIf="this.irregular">
        <mat-divider></mat-divider>
        <div style="padding-top: 20px;">
            <mat-card class="error-card">
                <i class="material-icons s-18">report_problem</i> Postoje igre koje ne postoje u sistemu. Nije moguće napraviti igru dana.
            </mat-card>
        </div>
    </div>
</div>
