<mat-card class="pending-requests-item mat-elevation-z3">
    <table class="pending-requests-item-table">
        <tr>
            <td class="text-center">
                <img class="profile-image" src="/assets/upload/{{data.image}}">
                <div style="margin-top: 10px" class="text-strong">
                    {{data.name}} {{data.surname}}
                </div>
            </td>
            <td *ngIf="isMultiplayer" class="vs-column text-faded text-strong">VS</td>
            <td *ngIf="isMultiplayer" class="text-center">
                <img class="profile-image" src="../assets/upload/2.png">
                <div style="margin-top: 10px" class="text-strong">Petar Filipovic</div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding-top: 10px;" class="text-center">
                <button mat-stroked-button [color]="'dark-blue'" (click)="join()">Pridruži se</button>
            </td>
        </tr>
    </table>
</mat-card>