.pending-requests-item
{
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
}

.pending-requests-item .profile-image
{
    width: 60px;
    border-radius: 50%;
}

.pending-requests-item .pending-requests-item-table tr td.vs-column
{
    padding: 0 20px;
}