.letters-placeholder .letter
{
    margin-top: 10px;
    display: inline-block;
}

.letters-placeholder .letter:nth-child(n+1)
{
    margin-left: 10px;
}


.game-5x5-preview-placeholder .game-5x5-preview-table
{
    border: 1px solid rgb(77, 77, 77);
    border-spacing: 0;
    display: inline-block
}

.game-5x5-preview-placeholder .game-5x5-preview-table tr td
{
    padding: 10px;
    border: 1px solid rgb(77, 77, 77);
    text-align: center;
    font-weight: bold;
}

.is-resolved 
{
    animation: myanim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes myanim
{
    0% { 
        color: rgba(250, 215, 17, 0);
    }

    50% {
        color: rgba(133, 114, 10, 1);
    }

    100% {
        color: rgba(250, 215, 17, 0);
    }
}