<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="text-uppercase text-faded">Greške</div>
        <div style="margin-top: 10px;">
            <mat-progress-bar mode="determinate" [value]="(this.errors*100)/this.MAXERRORS"></mat-progress-bar>
            <div class="text-right">{{this.errors}}/{{this.MAXERRORS}}</div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
        <div class="text-faded text-uppercase">Odaberite slova</div>
        <div class="letters-placeholder" style="margin-top: 20px;">
            <div *ngFor="let letter of this.letters; let i = index" class="letter">
                <button #button mat-stroked-button (click)="letterPressed(i, letter, button)" 
                [class.mat-blue]="this.management.isMultiplayer() && this.pressed[i] == 1" 
                [class.mat-red]="this.management.isMultiplayer() && this.pressed[i] == 2"
                [disabled]="this.taken[letter] || this.inProcess || this.isTimeout">
                    {{letter}}
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 text-right">
        <div class="text-faded text-uppercase">Prikaz igre 5x5</div>
        <div class="game-5x5-preview-placeholder" style="margin-top: 20px;">
            <table *ngIf="this.show" class="game-5x5-preview-table">
                <tr *ngFor="let row of this.matrix; let i = index">
                    <td>
                        <span *ngIf="row[0] == '-'" style="opacity: 0;">W</span>
                        <span *ngIf="row[0] != '-'" [class.is-resolved]="this.resolved[i][0]">{{row[0].toUpperCase()}}</span>
                    </td>
                    <td>
                        <span *ngIf="row[1] == '-'" style="opacity: 0;">W</span>
                        <span *ngIf="row[1] != '-'" [class.is-resolved]="this.resolved[i][1]">{{row[1].toUpperCase()}}</span>
                    </td>
                    <td>
                        <span *ngIf="row[2] == '-'" style="opacity: 0;">W</span>
                        <span *ngIf="row[2] != '-'" [class.is-resolved]="this.resolved[i][2]">{{row[2].toUpperCase()}}</span>
                    </td>
                    <td>
                        <span *ngIf="row[3] == '-'" style="opacity: 0;">W</span>
                        <span *ngIf="row[3] != '-'" [class.is-resolved]="this.resolved[i][3]">{{row[3].toUpperCase()}}</span>
                    </td>
                    <td>
                        <span *ngIf="row[4] == '-'" style="opacity: 0;">W</span>
                        <span *ngIf="row[4] != '-'" [class.is-resolved]="this.resolved[i][4]">{{row[4].toUpperCase()}}</span>
                    </td>                   
                </tr>
            </table>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 col-md-12 col-lg-6">
        <div style="margin-top: 20px;">
            <button mat-stroked-button (click)="continue()" [color]="'yellow'" [disabled]="this.inProcess || !this.isTimeout">
                <span *ngIf="!this.inProcess">Dalje</span>
                <span *ngIf="this.inProcess">Molimo sačekajte...</span>
                <i class="material-icons" style="top: 0;" *ngIf="!this.inProcess">navigate_next</i>                    
            </button>                
            <mat-spinner *ngIf='this.inProcess' diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; left: 10px;"></mat-spinner>            
        </div>
    </div>
</div>
