<div class="container login-placeholder" style="padding-top: 30px;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12 col-sm-12 text-center">
            <div>
                <img class="login-logo" src="/assets/images/logo.png">
            </div>
            <h2>Dobrodošli u ETF Kvizkoteku!</h2>
            <div class="breaker bg-color-red"></div>
            <div class="text-faded text-small">Uloguj se na sistem i započni avanturu</div>
            <mat-card style="margin-top: 20px;">                
                <div class="container-fluid text-left">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 col-xs-12 col-sm-12">
                            <form class="app-form full-width" (submit)="login($event)">
                                <mat-form-field class="full-width">
                                    <input #username="matInput" matInput (keypress)="keyPress($event)" [(ngModel)]="usernameText" name="username" placeholder="Korisničko ime" autofocus="autofocus" [disabled]='this.globals.inLogin'>
                                </mat-form-field>
                                <mat-form-field class="full-width">
                                    <input #password="matInput" matInput [(ngModel)]="passwordText" name="password" type="password" placeholder="Lozinka" [disabled]='this.globals.inLogin'>
                                </mat-form-field>
                                <div>                                    
                                    <button mat-button [color]="'dark-blue'" [disabled]='this.globals.inLogin'>
                                        <div *ngIf="!this.globals.inLogin">Prijavi se</div>
                                        <div *ngIf="this.globals.inLogin">Prijava u toku...</div>
                                    </button>
                                    <mat-spinner *ngIf='this.globals.inLogin' diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; left: 10px;"></mat-spinner>
                                </div>
                            </form>                        
                        </div>
                    </div>
                </div>
            </mat-card>            

            <div class="text-small" style="margin-top: 20px;">
                <a routerLink="/reset-password" routerLinkActive="active">Promena lozinke</a>
                <span style="margin-left: 10px;">|</span>
                <a style="margin-left: 10px;" routerLink="/forgot-password" routerLinkActive="active">Zaboravljena lozinka?</a>
            </div>

            <div *ngIf="this.info" class="info-placeholder" style="margin-top: 20px;">
                <mat-card class="{{this.infoClass}} mat-card">                
                    <div>{{this.infoMessage}}</div>
                </mat-card>                
            </div>
        </div>        
    </div>
</div>
