<div *ngIf="this.loading">Učitavanje...</div>
<div *ngIf="!this.loading" style="padding-bottom: 10px;">
    <h4>Lista svih zahteva za registraciju</h4>
    <div class="text-faded text-small">Aktivnih zahteva: {{this.count}}</div>
</div>   
<div *ngIf="!this.loading && this.count == 0">Trenutno nema novih zahteva za registraciju.</div>
<div *ngIf="!this.loading && this.count > 0">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">             
            <mat-form-field class="full-width">                            
                <mat-label>Odaberite zahtev</mat-label>
                <mat-select (selectionChange)="select($event)">
                    <mat-option [value]="'-1'">Odaberite zahtev</mat-option>
                    <mat-option *ngFor="let request of this.requests" [value]="request._id">
                    {{request.name}} {{request.surname}}
                    </mat-option>                    
                </mat-select>
                <mat-hint>Kliknite na listu da odaberete zahtev.</mat-hint>
            </mat-form-field>
        </div>
        <div *ngIf="this.activeRequest != null" class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <div style="margin-top: 25px;">
                <h4>Pregled zahteva za registraciju</h4>

                <div>
                    <table class="admin-request-table">

                        <tr>
                            <td colspan="2">
                                <div class="color-dark-blue text-strong admin-request-table-section-part">OSNOVNO</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-faded">Ime:</td>
                            <td>{{this.activeRequest.name}}</td>   
                        </tr>
                        <tr>
                            <td class="text-faded">Prezime:</td>
                            <td>{{this.activeRequest.surname}}</td>
                        </tr>
                        <tr>
                            <td class="text-faded">Pol:</td>
                            <td>{{this.activeRequest.sex == 0 ? "Muški" : "Ženski"}}</td>
                        </tr>
                        <tr>
                            <td class="text-faded">JMBG:</td>
                            <td>{{this.activeRequest.jmbg}}</td>
                        </tr>
                        <tr>
                            <td class="text-faded">Zanimanje:</td>
                            <td>{{this.activeRequest.profession}}</td>
                        </tr>


                        <!-- Account information. -->
                        <tr>
                            <td colspan="2">
                                <div class="color-dark-blue text-strong admin-request-table-section-part">NALOG</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-faded">Korisničko ime:</td>
                            <td>{{this.activeRequest.username}}</td>   
                        </tr>
                        <tr>
                            <td class="text-faded">E-adresa:</td>
                            <td>{{this.activeRequest.email}}</td>
                        </tr>

                        <!-- Account profile picture information. -->
                        <tr>
                            <td colspan="2">
                                <div class="color-dark-blue text-strong admin-request-table-section-part">OSTALO</div>
                            </td>
                        </tr>
                        <tr style="vertical-align: top;">
                            <td class="text-faded">Profilna slika:</td>
                            <td>
                                <img src="../assets/upload/{{this.activeRequest.image}}" >
                            </td>   
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="this.activeRequest != null">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <button mat-raised-button [color]="'yellow'" (click)="processRequest(1)">Prihvati zahtev</button>
            <button mat-raised-button [color]="'red'" style="margin-left: 10px" (click)="processRequest(0)">Poništi zahtev</button>
        </div>
    </div>
</div>
