
.waiting-placeholder
{
    padding-bottom: 20px;
}

.supervisor-container
{
    position: relative;
    overflow: hidden;
    z-index: 9;
    border-radius: 5px;
    margin-top: 20px;
}

.supervisor-container .overlay
{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(122, 122, 122, 0.274);
}

.action-placeholder
{
    margin-top: 20px;
}

.contestant-placeholder .action-placeholder
{
    margin-top: 10px;
}

.contestant-placeholder .contestant-image
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(158, 158, 158);
}

.contestant-placeholder.not-turn
{
    opacity: 0.3;
}

.contestant-placeholder .form-field
{
    width: 40%;
}