<div class="container page-container">
    <div *ngIf="!this.loaded" class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <mat-card>
                <table style="margin: auto;">
                    <tr>
                        <td><mat-spinner diameter="50" strokeWidth="7" color="warn" style="display: inline-block;"></mat-spinner></td>
                        <td style="padding-left: 30px;">
                            <h3>Samo trenutak...</h3>
                        </td>
                    </tr>
                </table>                
            </mat-card>
        </div>
    </div>
    <div *ngIf="this.loaded" class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div *ngIf="this.waiting" class="waiting-placeholder">
                <table style="margin: auto;">
                    <tr>
                        <td>
                            <mat-spinner diameter="50" strokeWidth="7" color="warn" style="display: inline-block;"></mat-spinner>
                        </td>
                        <td style="padding-left: 30px;">
                            <h3>Čeka se da korisnik uđe u igru</h3>
                        </td>
                        <td style="padding-left: 30px;">
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                            <i *ngIf="!this.loadedBlue" class="material-icons text-strong s-22 color-red">clear</i>
                                            <i *ngIf="this.loadedBlue" class="material-icons text-strong s-22 color-green">done_all</i>
                                        </td>
                                        <td style="padding-left: 5px;">Uključenje plavog takmičara</td>
                                    </tr>
                                </table>                           
                            </div>
                        </td>
                    </tr>
                </table>        
            </div>
        </div>
    </div>
    <div *ngIf="this.loaded" class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <div class="contestant-placeholder blue-contestant-placeholder">
                <mat-card>                
                    <table>
                        <tr>
                            <td><img class="contestant-image" [src]="'/assets/upload/' + this.getUser(1).getImage()"></td>
                            <td style="padding-left: 20px;">
                                <div class="ticket ticket-blue">plavi takmičar</div>
                                <h2>{{this.getUser(1).getFullName()}}</h2>
                                <div class="text-faded">{{this.getUser(1).getUsername()}}</div>
                                <div class="text-faded">
                                    <div *ngIf="!this.loadedBlue">
                                        <i class="material-icons s-14 color-red">clear</i>
                                        <span class="text-small">Offline</span>
                                    </div>
                                    <div *ngIf="this.loadedBlue">
                                        <i class="material-icons s-14 color-green">fiber_manual_record</i>
                                        <span class="text-small">Online</span>
                                    </div>
                                </div>

                                <div style="margin-top: 10px;" class="text-faded">
                                    <div>{{this.getUser(1).getEmail()}}</div>
                                    <div>{{this.getUser(1).getProfession()}}</div>
                                </div>
                            </td>
                        </tr>
                    </table>                                    
                </mat-card>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            
        </div>
    </div>
    <div *ngIf="this.loaded && !this.waiting" class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div style="margin-top: 20px">
                <div class="text-uppercase">Napredak igre</div>
                <mat-progress-bar mode="determinate" [value]="this.supervise.game.getProgress()"></mat-progress-bar>
                <mat-hint>{{this.supervise.game.getName()}}</mat-hint>
            </div>
            <div *ngIf="false" style="margin-top: 20px">
                <h3>Obrada poena za takmičara: <div class="ticket ticket-blue">Luka Orlandic</div></h3>
                <h3><div class="ticket ticket-blue">Luka Orlandic</div> igra <span class="text-larger">{{this.playing.dots}}</span></h3>
            </div>           
        </div>
    </div>
    <div *ngIf="!this.finished">
        <div *ngIf="this.isSupervision" class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <div style="margin-top: 20px;">
                    <mat-card class="success-card">
                        <i class="material-icons">notification_important</i> Trenutno je aktivna supervizija pojmova
                    </mat-card>
                </div>
            </div>
        </div>
        <div *ngIf="this.loaded" class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                <div class="supervisor-container mat-elevation-z1">
                    <mat-card>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <mat-form-field class="full-width">
                                    <input #state="matInput" matInput placeholder="Država" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="action-placeholder">
                                    <button #f1a="matButton" mat-stroked-button [style.opacity]="this.disAccept(1) ? 0.3 : 1" [color]="'yellow'" style="margin-left: 10px;" (click)="decide(1, true)" [disabled]="this.disAccept(1)">
                                        Odobri pojam
                                    </button>
                                    <button #f1d="matButton" mat-stroked-button [style.opacity]="this.disDecline(1) ? 0.3 : 1" [color]="'red'" style="margin-left: 10px;" (click)="decide(1, false)" [disabled]="this.disDecline(1)">
                                        Odbi pojam
                                    </button>
                                    <div *ngIf="this.isForSupervision(1)" style="display: inline-block; margin-left: 20px;">
                                        <div *ngIf="this.disDecline(1)" class="color-red">
                                            <i class="material-icons">clear</i> Odbijen
                                        </div>
                                        <div *ngIf="this.disAccept(1)" class="color-green">
                                            <i class="material-icons">done</i> Prihvaćen
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <mat-form-field class="full-width">
                                    <input #city="matInput" matInput placeholder="Grad" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="action-placeholder">
                                    <button #f2a="matButton" mat-stroked-button [color]="'yellow'" [style.opacity]="this.disAccept(2) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(2, true)" [disabled]="this.disAccept(2)">
                                        Odobri pojam
                                    </button>
                                    <button #f2d="matButton" mat-stroked-button [color]="'red'" [style.opacity]="this.disDecline(2) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(2, false)" [disabled]="this.disDecline(2)">
                                        Odbi pojam
                                    </button>
                                    <div *ngIf="this.isForSupervision(2)" style="display: inline-block; margin-left: 20px;">
                                        <div *ngIf="this.disDecline(2)" class="color-red">
                                            <i class="material-icons">clear</i> Odbijen
                                        </div>
                                        <div *ngIf="this.disAccept(2)" class="color-green">
                                            <i class="material-icons">done</i> Prihvaćen
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 

                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <mat-form-field class="full-width">
                                    <input #river="matInput" matInput placeholder="Reka" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="action-placeholder">
                                    <button #f3a="matButton" mat-stroked-button [color]="'yellow'" [style.opacity]="this.disAccept(3) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(3, true)" [disabled]="this.disAccept(3)">
                                        Odobri pojam
                                    </button>
                                    <button #f3d="matButton" mat-stroked-button [color]="'red'" [style.opacity]="this.disDecline(3) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(3, false)" [disabled]="this.disDecline(3)">
                                        Odbi pojam
                                    </button>
                                    <div *ngIf="this.isForSupervision(3)" style="display: inline-block; margin-left: 20px;">
                                        <div *ngIf="this.disDecline(3)" class="color-red">
                                            <i class="material-icons">clear</i> Odbijen
                                        </div>
                                        <div *ngIf="this.disAccept(3)" class="color-green">
                                            <i class="material-icons">done</i> Prihvaćen
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 

                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <mat-form-field class="full-width">
                                    <input #mountain="matInput" matInput placeholder="Planina" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="action-placeholder">
                                    <button #f4a="matButton" mat-stroked-button [color]="'yellow'" [style.opacity]="this.disAccept(4) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(4, true)" [disabled]="this.disAccept(4)">
                                        Odobri pojam
                                    </button>
                                    <button #f4d="matButton" mat-stroked-button [color]="'red'" [style.opacity]="this.disDecline(4) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(4, false)" [disabled]="this.disDecline(4)">
                                        Odbi pojam
                                    </button>
                                    <div *ngIf="this.isForSupervision(4)" style="display: inline-block; margin-left: 20px;">
                                        <div *ngIf="this.disDecline(4)" class="color-red">
                                            <i class="material-icons">clear</i> Odbijen
                                        </div>
                                        <div *ngIf="this.disAccept(4)" class="color-green">
                                            <i class="material-icons">done</i> Prihvaćen
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <mat-form-field class="full-width">
                                    <input #lake="matInput" matInput placeholder="Jezero" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="action-placeholder">
                                    <button #f5a="matButton" mat-stroked-button [color]="'yellow'" [style.opacity]="this.disAccept(5) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(5, true)" [disabled]="this.disAccept(5)">
                                        Odobri pojam
                                    </button>
                                    <button #f5d="matButton" mat-stroked-button [color]="'red'" [style.opacity]="this.disDecline(5) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(5, false)" [disabled]="this.disDecline(5)">
                                        Odbi pojam
                                    </button>
                                    <div *ngIf="this.isForSupervision(5)" style="display: inline-block; margin-left: 20px;">
                                        <div *ngIf="this.disDecline(5)" class="color-red">
                                            <i class="material-icons">clear</i> Odbijen
                                        </div>
                                        <div *ngIf="this.disAccept(5)" class="color-green">
                                            <i class="material-icons">done</i> Prihvaćen
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 

                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <mat-form-field class="full-width">
                                    <input #animal="matInput" matInput placeholder="Životinja" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="action-placeholder">
                                    <button #f6a="matButton" mat-stroked-button [color]="'yellow'" [style.opacity]="this.disAccept(6) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(6, true)" [disabled]="this.disAccept(6)">
                                        Odobri pojam
                                    </button>
                                    <button #f6d="matButton" mat-stroked-button [color]="'red'" [style.opacity]="this.disDecline(6) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(6, false)" [disabled]="this.disDecline(6)">
                                        Odbi pojam
                                    </button>
                                    <div *ngIf="this.isForSupervision(6)" style="display: inline-block; margin-left: 20px;">
                                        <div *ngIf="this.disDecline(6)" class="color-red">
                                            <i class="material-icons">clear</i> Odbijen
                                        </div>
                                        <div *ngIf="this.disAccept(6)" class="color-green">
                                            <i class="material-icons">done</i> Prihvaćen
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <mat-form-field class="full-width">
                                    <input #plant="matInput" matInput placeholder="Biljka" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="action-placeholder">
                                    <button #f7a="matButton" mat-stroked-button [style.opacity]="this.disAccept(7) ? 0.3 : 1" [color]="'yellow'" style="margin-left: 10px;" (click)="decide(7, true)" [disabled]="this.disAccept(7)">
                                        Odobri pojam
                                    </button>
                                    <button #f7d="matButton" mat-stroked-button [style.opacity]="this.disDecline(7) ? 0.3 : 1" [color]="'red'" style="margin-left: 10px;" (click)="decide(7, false)" [disabled]="this.disDecline(7)">
                                        Odbi pojam
                                    </button>
                                    <div *ngIf="this.isForSupervision(7)" style="display: inline-block; margin-left: 20px;">
                                        <div *ngIf="this.disDecline(7)" class="color-red">
                                            <i class="material-icons">clear</i> Odbijen
                                        </div>
                                        <div *ngIf="this.disAccept(7)" class="color-green">
                                            <i class="material-icons">done</i> Prihvaćen
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <mat-form-field class="full-width">
                                    <input #band="matInput" matInput placeholder="Muzička grupa" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="action-placeholder">
                                    <button #f8a="matButton" mat-stroked-button [color]="'yellow'" [style.opacity]="this.disAccept(8) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(8, true)" [disabled]="this.disAccept(8)">
                                        Odobri pojam
                                    </button>
                                    <button #f8d="matButton" mat-stroked-button [color]="'red'" [style.opacity]="this.disDecline(8) ? 0.3 : 1" style="margin-left: 10px;" (click)="decide(8, false)" [disabled]="this.disDecline(8)">
                                        Odbi pojam
                                    </button>
                                    <div *ngIf="this.isForSupervision(8)" style="display: inline-block; margin-left: 20px;">
                                        <div *ngIf="this.disDecline(8)" class="color-red">
                                            <i class="material-icons">clear</i> Odbijen
                                        </div>
                                        <div *ngIf="this.disAccept(8)" class="color-green">
                                            <i class="material-icons">done</i> Prihvaćen
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </mat-card>                
                    <div *ngIf="!this.isSupervision" class="overlay"></div>
                </div>      
                <div class="action-placeholder">
                    <button #submit mat-stroked-button [color]="'green'" (click)="this.submitData()" [disabled]="!this.isSupervision || this.submitted">
                        Potvrdi unos
                    </button>                
                </div>      

                <div *ngIf="this.submitted" style="margin-top: 20px;">
                    <div style="display: inline-block"><mat-spinner diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px;"></mat-spinner></div>
                    <div style="display: inline-block; margin-left: 10px;">Samo trenutak...</div>                    
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="this.loaded && this.finished" class="row" style="margin-top: 20px;">
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
            <mat-card>
                <h3>Supervizija je završena!</h3>
                <div style="margin-top: 20px" class="text-faded">
                    Hvala Vam što ste učestvovali u superviziji. Molimo sačekajte da <span class="text-strong">{{this.getUser(0).username}}</span> 
                    završi sa partijom do kraja.
                </div>
            </mat-card>
            <div *ngIf="this.canLeave" style="margin-top: 20px;">
                <button mat-stroked-button [color]="'dark-blue'" (click)="leave()">Nazad na početnu</button>
            </div>
        </div>
    </div>
</div>
