.multiplayer-body 
{
    display: block;
}

.multiplayer-body mat-card
{
    float: left;
    text-align: center;
    width: 200px;
    margin-top: 20px;
    clear: right;
    margin-left: 10px;
}

.multiplayer-header
{
    position: relative;
    margin-top: 30px;
}

.multiplayer-header .multiplayer-refresh
{
    position: absolute;
    right: 0;
    top: -15px;
}

.multiplayer-body .no-requests
{
    margin-top: 15px;
}

.multiplayer-user-request 
{
    background-color: rgb(245, 245, 245);
}

.multiplayer-user-request img.multiplayer-user-request-image
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.678);
}

.multiplayer-user-request .multiplayer-user-name
{
    margin-top: 10px;
    font-weight: bold;
}

.multiplayer-user-request .multiplayer-user-join
{
    margin-top: 15px;
}