<h1 mat-dialog-title>Dodavanje novog pojma</h1>
<div mat-dialog-content>
  <p>Molimo unesite novi pojam za zanimljivu geografiju.</p>
  <div style="margin-top: 20px;">

    <div>
        <mat-form-field class="full-width">
            <mat-label>Kategorija</mat-label>
            <mat-select #category>
                <mat-option *ngFor="let category of this.categories" [value]="category.database">
                    {{category.native}}
                </mat-option>
            </mat-select>
            <mat-hint>Odaberite kategoriju novog pojma.</mat-hint>
        </mat-form-field>
    </div>

    <div style="margin-top: 20px;">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Pojam</mat-label>
            <input matInput #term="matInput" placeholder="Unesite pojam" autocomplete="off" (keyup)="$event.keyCode == 13 ? add(category, term) : null">                    
        </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions style="margin-top: 20px;">
  <button mat-raised-button [color]="'yellow'" [disabled]="this.adding" (click)="add(category, term)">Dodaj pojam</button>
  <button mat-raised-button (click)="close()" [disabled]="this.adding">Odustani</button>
</div>