<div>
    <div class="text-faded">Anagram glasi:</div>
    <div style="margin-top: 5px;" class="text-larger text-strong">{{this.question}}</div>

    <div class="row">
        <div class="col-md-12 col-xs-12 col-md-12 col-lg-6">
            <div style="margin-top: 20px;">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Rešenje anagrama</mat-label>
                    <input matInput #result="matInput" placeholder="Ukucajte rešenje" [disabled]="this.inProcess" autocomplete="off">        
                    <mat-hint>Unesite rešenje anagrama.</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 col-md-12 col-lg-6">
            <div style="margin-top: 20px;">
                <button mat-stroked-button (click)="continue()" [color]="'yellow'" [disabled]="this.inProcess">
                    <span *ngIf="!this.inProcess">Dalje</span>
                    <span *ngIf="this.inProcess">Molimo sačekajte...</span>
                    <i class="material-icons" style="top: 0;" *ngIf="!this.inProcess">navigate_next</i>                    
                </button>
                <mat-spinner *ngIf='this.inProcess' diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; left: 10px;"></mat-spinner>
            </div>
        </div>
    </div>
</div>
