<div style="margin-top: 20px;">   
    <!--
    <div>Pregled svih igara 5x5:</div>
    <div class="text-faded text-small">
        Ukoliko želite da obrišete više igara - kliknite na njih uz pritisnut CTRL.
    </div>
    <div *ngIf="!this.listOf5x5Games.loaded" style="margin-top: 20px;">Učitavanje liste 5x5 igara...</div>
    <div class="games-placeholder">     
        <ng-template #gamesPlaceholder></ng-template>
        <div *ngIf="this.listOf5x5Games.nogames" style="margin-top: 40px">Trenutno nema 5x5 igara.</div>
    </div> 
    <div class="games-controlls" style="margin-top: 40px;">
        <button mat-button [color]="'dark-blue'" (click)="this.listOf5x5Games.add()" [disabled]="this.listOf5x5Games.deleting">Dodaj 5x5 igru</button>                           
        <button mat-flat-button [color]="'red'" [disabled]="this.listOf5x5Games.selected == 0 || this.listOf5x5Games.deleting" (click)="this.listOf5x5Games.delete()" style="margin-left: 10px;">Brisanje</button>                                
    </div>
    -->   

    <div *ngIf="this.empty" style="margin: 20px 0;">
        Trenutno nema pojmova iz zanimljive geografije.
    </div>

    <div class="full-width">
        <mat-form-field class="full-width">
            <input matInput #search="matInput" (keyup)="applyFilter($event.target.value)" placeholder="Pretraga..." [disabled]="this.loading">
        </mat-form-field>
    </div>
    
    <table mat-table [hidden]="this.loading || this.empty" #table="matTable" [dataSource]="dataSource" class="full-width">
        <!-- Select Column -->
        <ng-container matColumnDef="select">
            <th [attr.width]="70" mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? this.masterToggle() : null"
                            [checked]="this.selection.hasValue() && this.isAllSelected()"
                            [indeterminate]="this.selection.hasValue() && !this.isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? this.selection.toggle(row) : null"
                            [checked]="this.selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <!-- /Select Column -->

        <!-- Order Number Column -->
        <ng-container matColumnDef="indexNo">
            <th [attr.width]="80" mat-header-cell *matHeaderCellDef> Redni broj </th>
            <td mat-cell *matCellDef="let element"> {{element.no}} </td>
        </ng-container>
        
        <!-- Letter Column -->
        <ng-container matColumnDef="letter">
            <th [attr.width]="50" mat-header-cell *matHeaderCellDef> Slovo </th>
            <td mat-cell *matCellDef="let element"> {{element.letter}} </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Kategorija </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
        
        <!-- Word Column -->
        <ng-container matColumnDef="word">
            <th mat-header-cell *matHeaderCellDef> Reč </th>
            <td mat-cell *matCellDef="let element"> {{element.word}} </td>
        </ng-container>                         
        
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>

    <div class="margin-top: 20px;">
        <button mat-flat-button [color]="'dark-blue'" (click)="add()" [disabled]="this.loading">Dodaj novi pojam</button>
        <button mat-flat-button [color]="'red'" (click)="remove()" style="margin-left: 10px;" [disabled]="this.selection.selected.length == 0 || this.empty">Brisanje</button>
        <mat-spinner *ngIf='this.loading' diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; left: 10px;"></mat-spinner>
    </div>                              
</div>