<!-- Begin application. -->
<div class="header bg-color-red">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <img src="{{logoSrc}}" class="logo">
          <a routerLink="/">
            <h1 class="display-inline-block quiz-title" style="position: relative; top: -15px; padding-left: 5px;">
              ETF Kvizkoteka
            </h1>
          </a>
        </div>
        <div class="col-md-6 col-xs-6">
            <app-menu-unregistered *ngIf='this.globals.getUser() == null'></app-menu-unregistered>
            <app-menu-registered *ngIf='this.globals.getUser() != null'></app-menu-registered>
        </div>
      </div>
    </div>
</div>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sn-12 text-center">
        2019. &copy; ETF Kvizkoteka. Sva prava zadržana.
      </div>
    </div>
  </div>
</div>