<h1 mat-dialog-title>Još samo trenutak...</h1>
<div mat-dialog-content>
  <p *ngIf="this.data.isMultiplayer">Molimo sačekajte da se ostali učesnici prijave.</p>
  <p *ngIf="!this.data.isMultiplayer">Molimo sačekajte da se supervizor prijavi.</p>
  <div style="margin-top: 20px;">
    <div>
      <strong>
        Plavi takmičar:
      </strong> 
      <span class="color-blue text-strong" style="margin-left: 10px;">{{this.data.myName}}</span>
    </div>

    <div *ngIf="this.data.isMultiplayer" style="margin-top: 5px;">
      <strong>Crveni takmičar:</strong> <span class="color-red text-strong" style="margin-left: 10px;">
        <span *ngIf="this.loadingRed" class="loading-user">{{this.loadingDots}}</span>
        <span *ngIf="!this.loadingRed">{{this.redName}}</span>
      </span>
    </div>

    <div style="margin-top: 5px;">
        <strong>Supervizor:</strong> <span class="text-faded text-strong" style="margin-left: 10px;">
          <span *ngIf="this.loadingSupervisor" class="loading-user">{{this.loadingDots}}</span>
          <span *ngIf="!this.loadingSupervisor">{{this.singleplayer.supervisor.getFullName()}}</span>
        </span>
    </div>
    
    <div *ngIf="this.ready" style="margin: 20px 0 10px 0;">Započni igru! Srećno :)</div>
  </div>
</div>
<div mat-dialog-actions style="margin-top: 20px;">
  <button mat-button [color]="'green'" [disabled]="!ready" (click)="startGame()">Kreni</button>
  <button mat-button [color]="'red'" (click)="declineGame()">Ponisti partiju</button>
</div>