.trophie-placeholder
{
    position: relative;
    padding: 5px 10px;
    background-size: 500px 300px;
    background-position: center center;
}

.trophie-placeholder .content
{
    position: relative;
    z-index: 10;
    padding: 40px 0;
}

.trophie-placeholder .image
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9;
    opacity: 0.2;
    width: 80%;
    height: 70%;
}

.trophie-placeholder .image img
{
    position: relative;
    width: 100%;
    height: 100%;
}

.trophie-placeholder .trophie-table
{
    border: 1px solid rgb(83, 83, 83);
    border-spacing: 0;
    margin: auto;
}

.trophie-placeholder .trophie-table tr td
{
    padding: 0;
    border: 1px solid rgb(83, 83, 83);
    font-weight: bold;
}

.trophie-placeholder .trophie-table tr td div
{
    padding: 5px 7px;
}

.trophie-placeholder .trophie-table tr td div.blue-answered
{
    background: blue;
    color: white;
}

.trophie-placeholder .trophie-table tr td div.red-answered
{
    background: red;
    color: white;
}

.trophie-placeholder .trophie-table tr td div.incorrect 
{
    font-style: italic;
    opacity: 0.3;
}

.trophie-placeholder .trophie-table tr td div.correct
{
    background: rgba(0, 128, 0, 0.137);
}

.trophie-qa-section
{
    margin-top: 10px;
}

.trophie-qa-section .trophie-qa-section-answer
{
    padding-left: 25px;
}