<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            
            <div class="text-faded">Pitanje:</div>            
            <div class="text-strong text-strong" style="margin-top: 20px;">
                <h3 *ngIf="!this.loading">{{this.question}}</h3>
                <h3 *ngIf="this.loading">...</h3>
            </div>
            <div style="margin-top: 20px;">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Odgovor na pitanje</mat-label>
                    <input #answer matInput placeholder="Odgovor" [disabled]="this.loading" [attr.minlength]="this.currentLength" [attr.maxlength]="this.currentLength" autocomplete="off">                    
                    <mat-hint>Unesite odgovor na pitanje.</mat-hint>
                    <mat-hint align="end">{{answer.value.length}}/{{this.currentLength}}</mat-hint>
                </mat-form-field>
            </div>
            <div style="margin-top: 20px">
                <button mat-stroked-button [color]="'dark-blue'" [disabled]="this.loading || this.canFinish" (click)="submitAnswer()">Potvrdi odgovor</button>
                <button mat-stroked-button [color]="'yellow'" [disabled]="!this.canFinish" (click)="finish()" style="margin-left: 10px;">Završi kviz</button>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <div class="trophie-placeholder">
                <div class="content">
                    <table *ngFor="let element of this.elements; let i = index" class="trophie-table">
                        <tr>
                            <td *ngFor="let ind of element.arr">
                                <div *ngIf="this.a[i] == undefined" style="opacity: 0;">A</div>
                                <div *ngIf="this.a[i] != undefined" [class.incorrect]="!this.correct[i]" [class.blue-answered]="this.correct[i]" [class.red-answered]="mp && this.cls[i] == 1">{{this.a[i][ind].toUpperCase()}}</div>
                            </td>
                        </tr>                        
                    </table>                    
                </div>
                <div class="image">
                    <img src="/assets/images/trophie.png" />
                </div>
            </div>
        </div>
    </div>
</div>