.games-placeholder
{
    margin-top: 20px;
}

.game-5x5-placeholder
{
    position: relative;
    z-index: 9;
    padding: 15px 20px;
    border-radius: 3px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 0.4;
    transition: 0.2s;
}

.game-5x5-placeholder:hover
{
    opacity: 1;
}

.game-5x5-placeholder.is-selected
{
    background: rgba(47, 47, 47, 0.424);
    color: white;
    opacity: 1;
}

.game-5x5-placeholder .game-5x5-table
{
    border: 1px solid rgb(77, 77, 77);
    border-spacing: 0;
}

.game-5x5-placeholder .game-5x5-table tr td
{
    padding: 5px;
    border: 1px solid rgb(77, 77, 77);
    text-align: center;
}

.game-5x5-placeholder .game-5x5-delete-markup
{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    padding: 7px;
    border-radius: 50%;
    transform: scale3d(0.6, 0.6, 0.6);
    opacity: 0;
    transition: 0.3s;
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: inline-block;
    background: rgb(228, 228, 228);
}

.game-5x5-placeholder:hover .game-5x5-delete-markup
{
    transform: scale3d(1,1,1);
    opacity: 1;
}

.game-5x5-placeholder.is-selected .game-5x5-delete-markup
{
    background: #D71921;
    color: white;
    opacity: 1;
    transform: scale3d(1,1,1);
}