<div class="game-5x5-placeholder mat-elevation-z1" 
    [matTooltip]="this.tooltipMessage"
    aria-label="Button that displays a tooltip when focused or hovered over"
    (click)="mark($event)"
    [class.is-selected]="this.selected"
>
    <div class="game-5x5-delete-markup">
        <i class="material-icons">delete</i>
    </div>
    <table id="myTable-{{this.id}}" class="game-5x5-table"></table>
</div>
             