<h1 mat-dialog-title>Dodavanje anagrama</h1>
<div mat-dialog-content>
    <mat-form-field class="full-width">
        <input matInput #anagramTitle="matInput" placeholder="Naslov anagrama">
        <mat-hint>Unesite kako glasi anagram.</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput #anagramResult="matInput" placeholder="Rešenje anagrama">
        <mat-hint>Unesite kako glasi rešenje anagrama.</mat-hint>
    </mat-form-field>  

    <mat-card *ngIf="this.notif != null" class="{{this.notif.class}} mat-card" style="margin-top: 20px">
        {{this.notif.message}}
    </mat-card>
</div>
<div mat-dialog-actions style="margin-top: 20px;">  
  <button mat-raised-button [color]="'yellow'" (click)="addNewAnagram()" [disabled]="this.loading || this.added">
    <div *ngIf="!this.loading && !this.added">Dodaj anagram</div>
    <div *ngIf="this.loading || this.added">Dodavanje...</div>
  </button>
  <button mat-raised-button [color]="'dark-gray'" (click)="closeModal()" [disabled]="this.loading">Odustani</button>
</div>