<div class="container page-container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-md-12 col-xs-12">
            <h3>Dobrodošli, {{ this.getFullName() }}</h3>
            <span class="text-italic text-small text-faded">Administriraj zahteve pristigle od registracije ili napravi igru dana!</span>
            <div style="margin-top: 20px;">                
                <mat-tab-group (selectedTabChange)="changedTab($event)">
                    <mat-tab label="Zahtevi">
                        <mat-card>
                            <admin-requests></admin-requests>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Igra dana">
                        <mat-card>
                            <admin-game-of-the-day></admin-game-of-the-day>
                        </mat-card>
                    </mat-tab>                    
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>