<mat-card class="multiplayer-user-request" [style.opacity]="this.isDisabled ? '0.4' : '1'">
    <div class="multiplayer-user-request-image-placeholder">
        <img class="multiplayer-user-request-image" src="{{data.image}}">
    </div>
    <div class="multiplayer-user-name">
        {{data.name}} {{data.surname}}
    </div>
    <div class="multiplayer-user-when-started text-faded text-smaller">
        Takmičar čeka već {{data.fromBeginTime}}.
    </div> 
    <div class="multiplayer-user-join text-faded text-smaller">
        <button mat-button [color]="'yellow'" (click)="joinMatch()" [disabled]="this.isDisabled || this.isJoining">
            <div *ngIf="!this.isJoining">Pridruži se</div>
            <div *ngIf="this.isJoining">Pridružujem se</div>
        </button>
    </div>                           
</mat-card>