<h1 mat-dialog-title>Dodavanje igre "Pehar"</h1>
<div mat-dialog-content>
  <p>Svaki odgovor na pitanje se mora razlikovati za tačno jedno slovo. Odgovor ne sme imati razmak.</p>

  <div style="margin-top: 20px;">

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Naziv pehara</mat-label>
        <input matInput #trophieName="matInput" placeholder="Unesite naziv pehara" [attr.data-id]="name" autocomplete="off" (focusout)="this.validator.isValidTitle($event.target.value)">   
        <mat-hint class="color-red" *ngIf="!this.isValidName">Naziv pehara mora imati barem 2 slova.</mat-hint>
        <mat-hint *ngIf="this.isValidName">Naziv pehara mora biti jedinstven. Provera se vrši kod dodavanja.</mat-hint>
    </mat-form-field>

    <div style="margin-top: 10px;">
        <mat-divider></mat-divider>
    </div>

    <div class="quesion-section-placeholder" *ngFor="let section of this.sections; let i = index">
        <div class="question-section-title">
            <h4>{{section.title}}</h4>
        </div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{section.question}}</mat-label>
            <input matInput [placeholder]="section.questionPlaceholder" [attr.data-id]="'input-question-'+i" autocomplete="off" (focusout)="this.validator.isValidQuestion(section, $event.target.value)">   
            <mat-hint class="color-red" *ngIf="!section.isValidQuestion">Pitanje mora imati barem 2 slova.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{section.answer}}</mat-label>
            <input matInput #input [placeholder]="section.answerPlaceholder" [attr.data-id]="'input-answer-'+i" autocomplete="off" [attr.maxlength]="section.maxlength" (focusout)="this.validator.isValidAnswer(section, $event.target.value)">                                
            <mat-hint align="end">{{input.value?.length || 0}}/{{section.maxlength}}</mat-hint>
            <mat-hint class="color-red" *ngIf="!section.isValidAnswer">Odgovor mora imati {{section.hint}}.</mat-hint>
        </mat-form-field>

        <div *ngIf="!(i+1==this.sections.length)" style="margin-top: 10px;">
            <mat-divider></mat-divider>
        </div>
    </div>

    
  </div>

</div>
<div mat-dialog-actions style="margin-top: 20px;">
  <button mat-raised-button [color]="'yellow'" [disabled]="this.loading" (click)="add()">Dodaj igru pehar</button>
  <button mat-raised-button (click)="close()" [disabled]="this.loading" style="margin-left: 10px;">Odustani</button>
</div>