<div class="container login-placeholder" style="padding-top: 30px;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12 col-sm-12 text-center">
            <h2>Zaboravljena lozinka</h2>
            <div class="text-faded text-small" style="margin-top: 5px;">Povrati pristup nalogu</div>
            <div class="breaker bg-color-red"></div>

            <div *ngIf='this.hasErrors()' class="error-placeholder text-left" style="margin-top: 20px; margin-bottom: 20px;">
                <mat-card>
                    <h3>Dogodile su se greške!</h3>
                    <ol>
                        <li *ngIf="this.errors[0]">Postoje polja koja su prazna.</li>                                                                      
                        <li *ngIf="this.errors[1]">JMBG nije dobro formatiran.</li>
                        <li *ngIf="this.errors[2]">Lozinka ne zadovoljava kriterijume. Proveri još jednom!</li>
                        <li *ngIf='this.errors[3]'>Lozinke se ne podudaraju.</li>
                    </ol>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-xs-12 col-sm-12">
            <mat-horizontal-stepper [linear]="true" (animationDone)="focus()" (selectionChange)="changeStep($event)" [disableRipple]="true" #stepper="matHorizontalStepper" style="margin-top: 10px; border: 1px solid rgba(28, 49, 68, 0.1); border-radius: 10px; overflow: hidden;">
                <mat-step [stepControl]="firstFormGroup" [completed]="false" [editable]="false">
                    <form [formGroup]="firstFormGroup" (submit)="this.submitPart($event, 1)">
                        <ng-template matStepLabel>Opšti podaci</ng-template>
                        <mat-form-field class="full-width">
                            <input matInput #username="matInput" placeholder="Korisničko ime" name="username" autofocus="autofocus" [disabled]="this.inProcess">
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput #jmbg="matInput" placeholder="JMBG" name="jmbg" [disabled]="this.inProcess">
                        </mat-form-field>

                        <div>
                            <button mat-raised-button type="submit" [color]="'dark-blue'" [disabled]="this.inProcess">
                                <div *ngIf='this.inProcess'>Proveravam...</div>
                                <div *ngIf='!this.inProcess'>Dalje</div>
                            </button>
                            <mat-spinner *ngIf="this.inProcess" diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; left: 10px;"></mat-spinner>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" [completed]="false" [editable]="false">
                    <form [formGroup]="secondFormGroup" (submit)="submitPart($event, 2)">
                    <ng-template matStepLabel>Sigurnosno pitanje</ng-template>

                    <h4 style="margin-top: 10px;">Q: {{this.question}}</h4>
                    
                    <mat-form-field class="full-width" style="margin-top: 10px">
                        <input matInput #answer="matInput" type="text" placeholder="Odgovor" [disabled]="this.inProcess || this.forceDisabled">
                        <mat-hint>Unesi odgovor na tvoje sigurnosno pitanje.</mat-hint>
                    </mat-form-field>                    

                    <div style="margin-top: 20px;">
                        <button mat-raised-button type="submit" [color]="'dark-blue'" [disabled]="this.inProcess || this.forceDisabled">
                            <div *ngIf='this.inProcess'>Proveravam...</div>
                            <div *ngIf='!this.inProcess'>Dalje</div>
                        </button>
                        <mat-spinner *ngIf="this.inProcess" diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; left: 10px;"></mat-spinner>
                    </div>
                    </form>
                </mat-step>
                <mat-step [completed]="false" [editable]="false">
                    <form (submit)="submitPart($event, 3)">
                        <ng-template matStepLabel>Kreiranje lozinke</ng-template>
                        <mat-form-field class="full-width">
                            <input matInput #password="matInput" placeholder="Nova lozinka" name="password" type="password" autofocus="autofocus" [disabled]="this.inProcess || this.forceDisabled">
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput #passwordAgain="matInput" placeholder="Potvrdite novu lozinku" type="password" name="passwordAgain" [disabled]="this.inProcess || this.forceDisabled">
                        </mat-form-field>

                        <div class="text-faded text-small">
                            Lozinka mora imati najmanje 8 karaktera, 
                            najviše 12. Minimum velikih slova 1, minimum malih slova 3, 
                            minimalan broj numerika 1, minimalni broj znakova 1.
                            Početni karakter mora biti slovo. Maksimalan broj uzastopnih karaktera je 2.
                        </div>
                        
                        <div style="margin-top: 20px;">
                            <button mat-raised-button type="submit" [color]="'dark-blue'" [disabled]="this.inProcess || this.forceDisabled">
                                <div *ngIf='this.inProcess'>Proveravam...</div>
                                <div *ngIf='!this.inProcess'>Dalje</div>
                            </button>
                            <mat-spinner *ngIf="this.inProcess" diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; left: 10px;"></mat-spinner>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12 col-sm-12 text-center">
            <div *ngIf='this.onSuccessSubmit' style="margin-top: 20px;">
                <mat-card class="success-card">
                    <div>Lozinka je promenjena. Preusmeravanje na logovanje za {{this.timer}}s.</div>
                </mat-card>                
            </div>

            <div *ngIf='this.onErrorSubmit' style="margin-top: 20px;">
                <mat-card class="error-card">
                    <div *ngIf="this.errorType==0">Korisnik <span style="font-family: Courier;">{{ '{' }} {{this.user.username}} :: {{this.user.jmbg}}</span> {{ '}' }} ne postoji u sistemu.</div>
                    <div *ngIf="this.errorType==1">{{this.errorMessage}}</div>
                </mat-card>                
            </div>
        </div>
    </div>
</div>