.fullname-cell img
{
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(163, 163, 163);
}

.fullname-cell span
{
    margin-left: 20px;
    position: relative;
    top: -7px;
}