<div class="login-placeholder" style="margin-top:20px;">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding: 0;"> 
                <h3 class="text-strong">Rang lista</h3>
                <div class="text-faded text-small">Pogledajte rang listu igre dana ETF kvizkoteke!</div>            
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding: 0;">
                <div style="margin-bottom: 10px;" *ngIf="dataSource == null && !this.emptyRangList">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <div *ngIf="this.emptyRangList">
                    Budi {{this.globals.getUser().getData().sex == 0 ? "prvi koji" : "prva koja"}} će odigrati igru dana!
                </div>
                <table mat-table *ngIf="dataSource != null" [dataSource]="dataSource" class="mat-elevation-z1 full-width">

                    <!-- Rang Column -->
                    <ng-container matColumnDef="rang">
                        <th mat-header-cell *matHeaderCellDef> Rang </th>
                        <td mat-cell *matCellDef="let element"> {{element.rang}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Takmičar </th>
                        <td mat-cell class="fullname-cell" *matCellDef="let element">
                            <img [src]="'/assets/upload/' + element.image">
                            <span class="text-large">{{element.fullname}}</span>
                        </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Datum partije </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <!-- Points Column -->
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef> Poeni </th>
                        <td mat-cell *matCellDef="let element"> 
                            <span class="text-strong text-larger color-orange">{{element.points}}</span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>

    <mat-card *ngIf="false" class="container" style="margin-top: 20px;">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">                    
                <h3>Igraj protiv takmičara</h3>
                <span class="text-small">Igraj protiv drugih igrača ili kreiraj novu partiju</span>                   
            </div>                
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <mat-divider></mat-divider>                    
                
                <div class="multiplayer-component">
                    <div class="multiplayer-header">
                        <div class="text-uppercase text-strong">Odaberite partiju</div>
                        <div class="multiplayer-refresh">
                            <mat-spinner *ngIf='this.loaded && this.multiplayerHandle.multiRefresh' diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; right: 10px;"></mat-spinner>
                            <button mat-raised-button [color]="'red'" (click)="this.loaded && this.multiplayerHandle.refreshComponents()" [disabled]="this.multiplayerHandle.multiRefresh || this.multiplayerHandle.joining">
                                <div *ngIf="this.loaded && !this.multiplayerHandle.multiRefresh">Osveži</div>
                                <div *ngIf="this.loaded && this.multiplayerHandle.multiRefresh">Osvežavam...</div>
                            </button>
                        </div>
                    </div>
                    <div class="multiplayer-body">
                
                        <div *ngIf="this.multiplayerHandle.activeMultiplayers === 0" class="no-requests">
                            Trenutno nema partija za igru u multipleyer-u.
                        </div>
                
                        <ng-template #myComp></ng-template>
                    </div>
                </div>                    
            </div>  
        </div>             

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <mat-divider></mat-divider>
                <button mat-raised-button [color]="'dark-blue'" style="margin-top: 20px;" [disabled]="this.multiplayerHandle.joining" (click)="createMatch()">Kreiraj partiju</button>
            </div>
        </div>
    </mat-card>

    <!-- Play signleplayer game -->
    <mat-card class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">                    
                <h3>Igra dana</h3>
                <span class="text-small">Postani šampion ETF kviskoteke. Odigraj igru dana!</span>                   
            </div>                
        </div> 

        <div *ngIf="this.loadingGameOfTheDay" class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        </div>

        <div *ngIf="this.playedGameOfTheDay" class="row text-center" style="margin-top: 20px;">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <mat-card>
                    <div class="text-faded">Anagram</div>
                    <div class="text-larger color-yellow text-strong" style="margin-top: 10px;">{{this.gameOfTheDayResults.anagram}}</div>
                </mat-card>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <mat-card>
                    <div class="text-faded">Moj broj</div>
                    <div class="text-larger color-yellow text-strong" style="margin-top: 10px;">{{this.gameOfTheDayResults.number}}</div>
                </mat-card>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <mat-card>
                    <div class="text-faded">5 x 5</div>
                    <div class="text-larger color-yellow text-strong" style="margin-top: 10px;">{{this.gameOfTheDayResults.fxf}}</div>
                </mat-card>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <mat-card>
                    <div class="text-faded">Z. Geografija</div>
                    <div class="text-larger color-yellow text-strong" style="margin-top: 10px;">{{this.gameOfTheDayResults.natgeo}}</div>
                </mat-card>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <mat-card>
                    <div class="text-faded">Pehar</div>
                    <div class="text-larger color-yellow text-strong" style="margin-top: 10px;">{{this.gameOfTheDayResults.trophie}}</div>
                </mat-card>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <mat-card>
                    <div class="text-faded text-strong">UKUPNO</div>
                    <div class="text-larger color-red text-strong" style="margin-top: 10px;">{{this.getTotalPoints()}}</div>
                </mat-card>
            </div>
        </div>
        
        <div *ngIf="this.loaded && !this.hasGameOfTheDay" class="row" style="margin-top: 20px;">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <mat-divider></mat-divider> 
                <div style="margin-top: 20px;">
                    <mat-card class="error-card">
                        Trenutno ne postoji igra dana.
                    </mat-card>
                </div>
            </div>
        </div>

        <div *ngIf="this.loaded" class="row" style="margin-top: 20px;">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <mat-divider></mat-divider>
                <button mat-raised-button [color]="'dark-blue'" [disabled]="!this.hasGameOfTheDay || this.playedGameOfTheDay" style="margin-top: 20px;" (click)="playGameOfTheDay({myName: 'Luka Orlandic', isMultiplayer: false})">
                    Započni igru
                </button>  
                <div *ngIf="this.loaded && this.globals.getUser() && this.playedGameOfTheDay" style="display: inline-block; margin-left: 10px;">
                    Odigra{{this.globals.getUser().getData().sex == 0 ? 'o' : 'la'}} si igru dana. Pokušaj sutra!
                </div>              
            </div>
        </div>
    </mat-card>
    <!-- /Play singleplayer game -->
</div>
