@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face
{
    font-family: 'Sansation';
    src: url("assets/fonts/Sansation.ttf");
}

@font-face 
{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/MaterialIcons.ttf") format('truetype');
}

html, body
{
    padding: 0;
    margin: 0;
}

body 
{ 
    font-size: 100%;
    font-family: 'Sansation';
    background-color: #f3f3f3;
    margin-bottom: 70px;
 }

 h1, h2, h3, h4, h5, h6
 {
     margin: 0;
     font-family: 'Sansation' !important;
 }

 ol 
 {
    margin-left: 0;
    padding-left: 15px;
    font-family: 'Sansation';
 }

 ol li:nth-child(n+1)
 {
     padding-top: 5px;
 }

 button, input, input::placeholder, input:placeholder-shown, textarea, select, select option,
 .mat-radio-label-content
 { font-family: 'Sansation' !important; }

 .content { font-family: 'Sansation' !important; }

 form.app-form { width: 100%; }
 .my-font { font-family: San !important; }

 .wrapper { padding-top: 72px; }
 .full-width { width: 100% }

.color-white { color: white; }
.color-black { color: black; }
.color-red { color: #D71921; }
.color-dark-blue { color: hsl(208, 42%, 19%); }
.color-yellow { color: #FFBA08; }
.color-gray { color: #A2AEBB; }
.color-light-blue { color: #3F88CC; }
.color-blue { color: blue; }
.color-red { color: red; }
.color-green { color: rgb(14, 161, 58); }

.bg-color-light-gray { background-color: rgb(236, 236, 236); }
.bg-color-red { background-color: #D71921; }
.bg-color-dark-blue { background-color: #1C3144; }
.bg-color-yellow { background-color: #FFBA08; }
.bg-color-gray { background-color: #A2AEBB; }
.bg-color-light-blue { background-color: #3F88CC; }
.bg-color-green { background-color: rgb(14, 161, 58); }

.display-inline-block { display: inline-block; }

.text-uppercase { text-transform: uppercase; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-italic { font-style: italic; }
.font-weight, .text-strong { font-weight: bold; }

.material-icons 
{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: relative;
    top: 1px;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.s-14 { font-size: 14px; }
.material-icons.s-18 { font-size: 18px; }
.material-icons.s-20 { font-size: 20px; }
.material-icons.s-22 { font-size: 22px; }
.material-icons.s-24 { font-size: 24px; }
.material-icons.s-26 { font-size: 26px; }

a { text-decoration: none; color: inherit; cursor: pointer; }
a:focus, a:active { 
    text-decoration: none; 
    color: inherit; 
}
a:hover
{
    color: inherit;
    text-decoration: underline;
}

.login-logo
{
    width: 120px;
    margin-bottom: 20px;
}

.breaker
{
    width: 10%;
    margin: 10px auto;
    height: 5px;
}

.header
{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 2px;
    color: white;
}

.footer
{
    position: fixed;
    bottom: 0;
    z-index: 9999;
    background: #A2AEBB;
    color: #1C3144;
    padding: 5px;
    width: 100%;
    font-size: 90%;
    font-weight: bold;
}

.logo 
{
    width: 60px;
    height: 60px;
}

.title 
{
    display:inline-block;
}

.text-faded { color: rgb(153, 153, 153); }
.text-larger { font-size: 130%; }
.text-large { font-size: 120%; }
.text-small { font-size: 80%; }
.text-smaller { font-size: 70%; }

.mat-yellow { background: #FFBA08; color: white; }
button.mat-yellow:disabled { color: white !important; opacity: 0.8; }
.mat-red { background-color: #D71921; color: white; }
button.mat-red:disabled { color: white !important; opacity: 0.8; }
.mat-light-blue { background-color: #3F88CC; color: white; }
button.mat-light-blue:disabled { color: white !important; opacity: 0.8; }
.mat-dark-blue { background-color: #1C3144; color: white; }
button.mat-dark-blue:disabled { color: white !important; opacity: 0.8; }
.mat-gray { background-color: #A2AEBB; color: white; }
button.mat-gray:disabled { color: white !important; opacity: 0.8; }
.mat-green { background-color: rgb(14, 161, 58); color: white; }
button.mat-green:disabled { color: white !important; opacity: 0.8; }
.mat-blue { background-color: blue; color: white; }
button.mat-blue:disabled { color: white !important; opacity: 0.8; }
.mat-red { background-color: red; color: white; }
button.mat-red:disabled { color: white !important; opacity: 0.8; }
.mat-form-field-label { font-family: 'Sansation' !important; }

.login-placeholder .mat-form-field-empty.mat-form-field-label {
    color: #1C3144 !important;
}
.login-placeholder .mat-form-field-underline {
    background-color: #FFBA08 !important;
}
.login-placeholder .mat-form-field-ripple { background-color: #FFBA08 !important; }
.forgot-password-placeholder
{
    border: 1px solid rgba(28, 49, 68, 0.541)
}

.button-container div.button-wrapper:nth-child(n+1)
{
    margin-left: 15px;
    display: inline-block;
}

.message-box
{
    padding: 15px 20px;
    border-radius: 0 20px 20px 0;
}

.message-box.message-box-danger
{
    background-color: rgba(215, 25, 34, 0.822);
    color: white;
}

.registration-form  .mat-radio-outer-circle
{
    border-color: #FFBA08 !important;
}

.registration-form  .mat-radio-inner-circle
{
    background-color: #FFBA08 !important;
}

.error-placeholder mat-card
{
    background-color: rgba(215, 25, 34, 0.815);
    color: white;
    border-top: 5px solid #1C3144;
    border-bottom: 5px solid #1C3144;
}

mat-card
{
    font-family: 'Sansation' !important;
}
mat-card.success-card
{
    background-color: rgba(33, 175, 17, 0.829);
    color: white;
}

mat-card.error-card
{
    background-color: rgba(218, 18, 18, 0.788);
    color: white;
}

mat-card.warning-card
{
    background-color: #FFBA08;
    color: white;
}

.backdrop
{
    background: rgba(0,0,0,0.7);
}

.mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.page-container
{
    margin-top: 30px;
}

.ticket
{
    padding: 4px 10px;
    border-radius: 3px;
    display: inline-block;
    font-size: 80%;
}

.ticket.ticket-red
{
    background: red;
    color: white;
}

.ticket.ticket-blue
{
    background: blue;
    color: white;
}

.quiz-input
{
    width: 200px;
}

.mat-step-optional
{
    display: none;
}

/*
* Media Queries.
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (max-width: 599px)
{
    .quiz-title { font-size: 20px; }
    .logo { width: 40px; height: 40px; }
    app-menu-registered > div { top: 0px !important; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px)
{    
    .quiz-title { font-size: 25px; }
    .logo { width: 50px; height: 50px; }
    app-menu-registered > div { top: 0px !important; }
    .page-container, .login-placeholder { margin-top: 60px !important; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{

}