<h1 mat-dialog-title>Uspešna registracija!</h1>
<div mat-dialog-content>
  <p>Poslali smo prijavu administratoru. Molimo za malo strpljenja dok administrator ne odobri tvoj zahtev.</p>
</div>
<div mat-dialog-actions>
  <div class="text-right" style="width: 100%">
    <a routerLink='/'>
      <button mat-button [color]="'dark-blue'" (click)="close()">Prijava</button>
    </a>
  </div>
</div>