<div style="position: relative;">
    <mat-card *ngIf="this.render || this.countMultiplayer>0 || this.countSingleplayer>0" class="pending-requests-placeholder" style="margin-top: 20px;">
        <h4>Zahtevi za igru</h4>               
    
        <div class="multiplayer" style="padding-top: 20px;">
            <h5 class="text-uppercase" style="padding-bottom: 20px; font-weight: normal">Multiplayer zahtevi <span class="text-strong" style="font-family: 'Courier'">({{this.countMultiplayer}})</span></h5>
     
            <ng-template #multiplayerRequests></ng-template>                 
            <div *ngIf="this.countMultiplayer == 0" style="padding-bottom: 20px;">
                Trenutno nema zahteva za igru u multiplayer-u.
            </div>
        </div>
    
        <mat-divider></mat-divider>
    
        <div class="singleplayer" style="padding-top: 20px;">
            <h5 class="text-uppercase" style="padding-bottom: 20px; font-weight: normal">Singleplayer zahtevi <span class="text-strong" style="font-family: 'Courier'">({{this.countSingleplayer}})</span></h5>
                   
            <ng-template #singleplayerRequests></ng-template>           
            <div *ngIf="this.countSingleplayer == 0" style="padding-bottom: 20px;">                    
                Trenutno nema zahteva za igru u singleplayer-u.        
            </div> 
        </div>                   
    </mat-card>
</div>