<div class="container login-placeholder" style="padding-top: 30px;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12 col-sm-12 text-center">
            <h2>Registracija</h2>
            <div class="text-faded text-small" style="margin-top: 5px;">Postani šampion ETF kvizkoteke</div>
            <div class="breaker bg-color-red"></div>  
            <div *ngIf='this.loaded && !this.regop.isLoadingData() && this.regop.hasErrors()' class="error-placeholder text-left" style="margin-top: 20px; margin-bottom: 20px;">
                <mat-card>
                    <h3>Dogodile su se greške!</h3>
                    <ol>
                        <li *ngIf='this.loaded && this.regop.isError(0,1)'>Ime mora imati najmanje dva slova.</li>
                        <li *ngIf='this.loaded && this.regop.isError(0,2)'>Prezime mora imati najmanje dva slova.</li>
                        <li *ngIf='this.loaded && this.regop.isError(0,3)'>JMBG nije dobro formatiran.</li>
                        <li *ngIf='this.loaded && this.regop.isError(0,4)'>Naziv zanimanja mora imati barem dva slova.</li>
                        <li *ngIf='this.loaded && this.regop.isError(1,1)'>
                            Lozinka mora imati najmanje 8 karaktera, 
                            najviše 12. Minimum velikih slova 1, minimum malih slova 3, 
                            minimalan broj numerika 1, minimalni broj znakova 1.
                            Početni karakter mora biti slovo. Maksimalan broj uzastopnih karaktera je 2.
                        </li>
                        <li *ngIf='this.loaded && this.regop.isError(1,2)'>Lozinke se ne podudaraju.</li>
                        <li *ngIf='this.loaded && this.regop.isError(1,3)'>Korisničko ime već postoji.</li>
                        <li *ngIf='this.loaded && this.regop.isError(1,4)'>Korisničko ime mora imati barem 2 slova.</li>
                        <li *ngIf='this.loaded && this.regop.isError(1,5)'>E-mail nije dobro formatiran.</li>

                        <li *ngIf='this.loaded && this.regop.isError(2,1)'>Pitanje mora imati barem pet slova.</li>
                        <li *ngIf='this.loaded && this.regop.isError(2,2)'>Odgovor mora imati barem tri slova.</li>

                        <li *ngIf='this.loaded && this.regop.isError(3,1)'>Morate postaviti sliku za upload.</li>
                        <li *ngIf='this.loaded && this.regop.isError(3,2)'>Maksimalna veličina slike je 300x300px.</li>
                    </ol>
                </mat-card>
            </div>          
            <form class="app-form full-width registration-form" style="margin-top: 20px" (submit)="register($event)">
                <mat-accordion>
                    <!-- Basic info -->
                    <mat-expansion-panel #panel_basic="matExpansionPanel" (afterExpand)="this.openedPanel(0)" (closed)="this.closedPanel()" expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                    <strong class="color-light-blue">Osnovno</strong>
                            </mat-panel-title>
                            <mat-panel-description>
                                Ime, prezime, pol, ...
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field class="full-width">
                            <input matInput #name="matInput" placeholder="Ime">
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput #surname="matInput" placeholder="Prezime">
                        </mat-form-field>

                        <div class="my-font" style="text-align: center; margin-top: 10px; margin-bottom: 12px;">
                            <mat-radio-group name="sex" aria-label="Select an option">
                                <div class="button-container content text-left">
                                    <div class="button-wrapper" style="margin-left: 0">
                                        Pol:
                                    </div>
                                    <div class="button-wrapper">
                                        <mat-radio-button #male="matRadioButton" name="sex" value="1" checked="checked">Muški</mat-radio-button>
                                    </div>
                                    <div class="button-wrapper">
                                        <mat-radio-button #female="matRadioButton" name="sex" value="2">Ženski</mat-radio-button>
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                        
                        <mat-form-field class="full-width">
                            <input matInput #jmbg="matInput" placeholder="JMBG" maxlength="13">
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput #profession="matInput" placeholder="Vaše zanimanje?" type="text">
                        </mat-form-field>

                        <div class="text-right">
                            <mat-spinner *ngIf='this.loaded && this.regop.isCheckingData()' diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; right: 10px;"></mat-spinner>
                            <button #panel_basic_submit="matButton" mat-flat-button [color]="'yellow'" (click)="validate($event)">Dalje</button>
                        </div>
                    </mat-expansion-panel>
                    <!-- /Basic info -->

                    <!-- Account info -->
                    <mat-expansion-panel #panel_account="matExpansionPanel" (afterExpand)="this.openedPanel(1)" (closed)="this.closedPanel()" disabled="disabled">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                                <strong class="color-light-blue">Nalog</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                            Odabir korisničkog imena i lozinke, e-mail
                        </mat-panel-description>
                        </mat-expansion-panel-header>                        
                        
                        <mat-form-field class="full-width">
                            <input matInput #panel_account_username="matInput" placeholder="Korisničko ime" [disabled]='this.loaded && this.regop.isLoadingData()'>
                            <mat-hint align="start"><strong>Klikom na dugme 'Dalje', vrši se provera korisničkog imena.</strong></mat-hint>
                        </mat-form-field>

                        <mat-form-field class="full-width" style="margin-top: 15px;">
                            <input matInput #panel_account_email="matInput" placeholder="E-mail" [disabled]='this.loaded && this.regop.isLoadingData()'>
                            <mat-hint align="start"><strong>Vaša e-adresa.</strong></mat-hint>
                        </mat-form-field>

                        <mat-form-field class="full-width" style="margin-top: 10px;">
                            <input matInput #panel_account_password="matInput" placeholder="Lozinka" type="password" [disabled]='this.loaded && this.regop.isLoadingData()'>
                            <mat-hint align="start"><strong>Lozinka mora imati od 8 - 12 karaktera, malih slova : 3, numerik: 1, spec. znak : 1. Prvi karakter mora biti malo/veliko slovo.</strong></mat-hint>
                        </mat-form-field>

                        <mat-form-field class="full-width" style="margin-top: 20px;">
                            <input matInput #panel_account_password_confirm="matInput" type="password" placeholder="Potvrda lozinke" [disabled]='this.loaded && this.regop.isLoadingData()'>
                            <mat-hint align="start"><strong>Molimo unesite lozinku još jednom.</strong></mat-hint>
                        </mat-form-field>

                        <div class="text-right">
                            <mat-spinner *ngIf='this.loaded && ( this.regop.isCheckingData() || this.regop.isLoadingData() )' diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; right: 10px;"></mat-spinner>
                            <button #panel_account_submit="matButton" mat-flat-button [color]="'yellow'" [disabled]="this.loaded && ( this.regop.isCheckingData() || this.regop.isLoadingData() )" (click)="validate($event)">
                                <div *ngIf='!this.loaded || this.loaded && ( !this.regop.isLoadingData() )'>Dalje</div>
                                <div *ngIf='this.loaded && ( this.regop.isLoadingData() )'>Proveravam...</div>
                                <div></div>
                            </button>
                        </div>

                    </mat-expansion-panel>
                    <!-- /Account info -->


                    <!-- Security info -->
                    <mat-expansion-panel #panel_security="matExpansionPanel" (afterExpand)="this.openedPanel(2)" (closed)="this.closedPanel()" disabled="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                    <strong class="color-light-blue">Bezbednost</strong>
                            </mat-panel-title>
                            <mat-panel-description>
                                Pitanje u slučaju zaboravljene lozinke
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field class="full-width">
                            <input matInput #secq="matInput" placeholder="Sigurnosno pitanje">
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput #seca="matInput" placeholder="Odgovor">
                        </mat-form-field>

                        <div class="text-right">
                            <button #panel_security_submit="matButton" mat-flat-button [color]="'yellow'" (click)="validate($event)">Dalje</button>
                        </div>
                    </mat-expansion-panel>
                    <!-- /Security info -->



                    <!-- Picture upload info -->
                    <mat-expansion-panel #panel_upload="matExpansionPanel" (afterExpand)="this.openedPanel(3)" (closed)="this.closedPanel()" disabled="true">
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                    <strong class="color-light-blue">Postavljanje slike</strong>
                            </mat-panel-title>
                            <mat-panel-description>
                                Odaberite profilnu sliku
                            </mat-panel-description>
                            </mat-expansion-panel-header>                        
                            
                            <div class="text-left">
                                <button type="button" mat-raised-button (click)="fileInput.click()">Odaberite sliku</button>
                                <input hidden (change)="this.regop.getRegistrationPanel(3).imageChanged()" #fileInput type="file" id="file">
                                <span style="padding-left: 10px;">
                                    <span *ngIf='this.loaded && this.regop.getRegistrationPanel(3).isReadyForUpload()'>{{this.regop.getRegistrationPanel(3).getImage()}}</span>
                                    <span *ngIf='this.loaded && !this.regop.getRegistrationPanel(3).isReadyForUpload() || !this.loaded'>Nije odabrana slika.</span>
                                </span>
                                <div class="text-faded text-small" style="margin-top: 10px;">Maksimalna veličina slike je 300x300px.</div>
                                <div style="margin-top: 10px;" [style.display]="this.loaded && this.regop.getRegistrationPanel(3).isReadyForUpload() ? 'block' : 'none'">
                                    <img style="max-width: 300px; max-height: 300px;" id="uploadImagePreview">
                                </div>
                            </div>

                            <div class="text-right">
                                <button #panel_upload_submit="matButton" mat-flat-button [color]="'yellow'" (click)="validate($event)" [disabled]="this.loaded && ( this.regop.isCheckingData() || this.regop.isLoadingData() )" (click)="validate($event)">
                                    <div *ngIf='!this.loaded || this.loaded && !this.regop.isLoadingData()'>Dalje</div>
                                    <div *ngIf='this.loaded && this.regop.isLoadingData()'>Proveravam...</div>
                                </button>
                            </div>
    
                        </mat-expansion-panel>
                        <!-- /Picture upload info -->
                </mat-accordion>

                <div *ngIf='this.loaded && this.regop.isReadyForSubmit()' style="margin-top: 20px;">
                    <mat-card class="success-card">
                        <div>Sve je spremno. Kliknite na 'Registruj se'!</div>
                    </mat-card>                
                </div>  
               
                <div style="margin-top: 20px;">
                    <mat-spinner *ngIf='this.loaded && this.regop.isInRegistration()' diameter="30" strokeWidth="4" color="warn" style="display: inline-block; position: relative; top: 10px; right: 10px;"></mat-spinner>
                    <button #button_login="matButton" mat-button [color]="'light-blue'" type="submit" [disabled]="this.loaded && (!this.regop.isReadyForSubmit() || this.regop.isInRegistration()) || !this.loaded">
                        <div></div>
                        <div *ngIf='!this.loaded || this.loaded && !this.regop.isInRegistration()'>Registruj se</div>
                        <div *ngIf='this.loaded && this.regop.isInRegistration()'>Proveravam tvoje podatke...</div>
                    </button>
                </div>                
            </form>
            <div class="text-small" style="margin-top: 20px;">
                Već imaš nalog? <a routerLink="/" routerLinkActive="active">Uloguj se</a>
            </div>                        
        </div>
    </div>
</div>
