
<div class="text-right button-container" style="position: relative; top: 15px;">
    <a routerLink='/results'>
        <div class="button-wrapper">
            <button mat-button [color]="'gray'">Rezultati</button>
        </div>
    </a>
    <a routerLink='/register'>
        <div class="button-wrapper">
            <button mat-button [color]="'yellow'">Registruj se</button>
        </div>
    </a>
</div>
